Prior to loading the dataset into R, it was pre-processed in Excel. The raw elemental intensities were each divided by the Rh column, which scaled each element, and a new column for each element was generated. Then, all amounts less than or equal to 0 were replaced with 0.0001, to avoid any issues with NaNs in the dataset.

# Load libraries

In [1]:
# try installing vctrs fresh, since it is giving me errors
#install.packages("vctrs", dependencies = TRUE, repos = 'http://cran.us.r-project.org')
library(vctrs)

# Dicer library is used to run ensemble clustering, which generates interim labels for unknown samples
#install.packages("diceR", dependencies = TRUE, repos = 'http://cran.us.r-project.org')
library(diceR)

# try installing Biobase, since I got error messages
#if (!requireNamespace("BiocManager", quietly = TRUE))
#    install.packages("BiocManager")
#BiocManager::install("Biobase")
library(Biobase)

# randomForest is the classification system which identifies unknown samples
#install.packages("randomForest", dependencies = TRUE, repos = 'http://cran.us.r-project.org')
library(randomForest)

Loading required package: BiocGenerics

Loading required package: parallel


Attaching package: ‘BiocGenerics’


The following objects are masked from ‘package:parallel’:

    clusterApply, clusterApplyLB, clusterCall, clusterEvalQ,
    clusterExport, clusterMap, parApply, parCapply, parLapply,
    parLapplyLB, parRapply, parSapply, parSapplyLB


The following objects are masked from ‘package:stats’:

    IQR, mad, sd, var, xtabs


The following objects are masked from ‘package:base’:

    anyDuplicated, append, as.data.frame, basename, cbind, colnames,
    dirname, do.call, duplicated, eval, evalq, Filter, Find, get, grep,
    grepl, intersect, is.unsorted, lapply, Map, mapply, match, mget,
    order, paste, pmax, pmax.int, pmin, pmin.int, Position, rank,
    rbind, Reduce, rownames, sapply, setdiff, sort, table, tapply,
    union, unique, unsplit, which, which.max, which.min


Welcome to Bioconductor

    Vignettes contain introductory material; view with
    'browseVignettes()'. To cite Bioconductor, see
    'citation("Biobase")', and for packages 'citation("pkgname")'.


randomForest 4.6-14

Type rfNews() to see new features/changes/bug fixes.


Attaching package: ‘randomForest’


The following object is masked from ‘package:Biobase’:

    combine


The following object is masked from ‘package:BiocGenerics’:

    combine

# Load train dataset

In [2]:
train <- read.csv("AllSamples.csv", header = TRUE)
head(train)

  X             is_known Vis           Ag   Al  As       Au Ca   Cu  Fe   ⋯
1 71.11.1-89.01 Guess    Gravel Cherts 1368   1   0.0001 54 1515 331 5335 ⋯
2 71.11.1-89.02 Guess    Gravel Cherts 1269  15  55.0000 25  682 300 2670 ⋯
3 71.11.1-89.03 Guess    Gravel Cherts 1165  32   4.0000 46  607 523 6119 ⋯
4 71.11.1-89.04 Guess    Gravel Cherts 1299  40  42.0000 45  338 410 5307 ⋯
5 71.11.1-89.05 Guess    Gravel Cherts 1724  35   0.0001 51  201 301 1745 ⋯
6 71.11.1-89.06 Guess    Gravel Cherts 1246 139 159.0000 18  188 292 4858 ⋯
  Si.Rh      Sn.Rh       Sr.Rh      Th.Rh        Ti.Rh       U.Rh
1 0.06234530 0.030244431 0.13691213 2.328280e-02 0.015702351 0.027769183
2 0.06373444 0.019170124 0.18995851 1.294606e-02 0.013609959 0.016431535
3 0.05545573 0.010944136 0.09882391 7.350539e-03 0.018703038 0.008330611
4 0.06011742 0.010667328 0.04589432 1.174233e-02 0.021582734 0.024559663
5 0.07111721 0.002502422 0.08411366 6.780756e-03 0.010251857 0.010494026
6 0.07108405 0.009646556 0.09575393 7.910000e-09 0.008381434 0.006167471
  V.Rh        Y.Rh        Zn.Rh       Zr.Rh
1 0.005491955 0.003635520 0.090423886 7.740000e-09
2 0.006887967 0.000083000 0.071867220 8.300000e-09
3 0.005308723 0.004573669 0.039692911 2.531852e-03
4 0.001901927 0.011080791 0.032746217 4.796163e-03
5 0.005247013 0.012431385 0.009283177 8.070000e-09
6 0.001897683 0.000079100 0.014627975 5.851190e-03

In [3]:
# restrict dataset to only important columns: sample id, is_known, and the elemental intensities
train_df = train[,c(1,2,3,32:58)]
# rename X to sample_id
names(train_df)[1] <- "sample_id"
# preview dataset
head(train_df)

  sample_id     is_known Vis           Ag.Rh      Al.Rh       As.Rh
1 71.11.1-89.01 Guess    Gravel Cherts 0.10581683 0.000077400 7.740000e-09
2 71.11.1-89.02 Guess    Gravel Cherts 0.10531120 0.001244813 4.564315e-03
3 71.11.1-89.03 Guess    Gravel Cherts 0.09514864 0.002613525 3.266910e-04
4 71.11.1-89.04 Guess    Gravel Cherts 0.10741751 0.003307699 3.473084e-03
5 71.11.1-89.05 Guess    Gravel Cherts 0.13916694 0.002825315 8.070000e-09
6 71.11.1-89.06 Guess    Gravel Cherts 0.09852139 0.010990749 1.257215e-02
  Au.Rh       Ca.Rh      Cu.Rh      Fe.Rh     ⋯ Si.Rh      Sn.Rh
1 0.004176980 0.11718750 0.02560334 0.4126702 ⋯ 0.06234530 0.030244431
2 0.002074689 0.05659751 0.02489627 0.2215768 ⋯ 0.06373444 0.019170124
3 0.003756942 0.04957530 0.04271480 0.4997550 ⋯ 0.05545573 0.010944136
4 0.003721161 0.02795005 0.03390391 0.4388489 ⋯ 0.06011742 0.010667328
5 0.004116887 0.01622538 0.02429771 0.1408621 ⋯ 0.07111721 0.002502422
6 0.001423262 0.01486518 0.02308848 0.3841227 ⋯ 0.07108405 0.009646556
  Sr.Rh      Th.Rh        Ti.Rh       U.Rh        V.Rh        Y.Rh
1 0.13691213 2.328280e-02 0.015702351 0.027769183 0.005491955 0.003635520
2 0.18995851 1.294606e-02 0.013609959 0.016431535 0.006887967 0.000083000
3 0.09882391 7.350539e-03 0.018703038 0.008330611 0.005308723 0.004573669
4 0.04589432 1.174233e-02 0.021582734 0.024559663 0.001901927 0.011080791
5 0.08411366 6.780756e-03 0.010251857 0.010494026 0.005247013 0.012431385
6 0.09575393 7.910000e-09 0.008381434 0.006167471 0.001897683 0.000079100
  Zn.Rh       Zr.Rh
1 0.090423886 7.740000e-09
2 0.071867220 8.300000e-09
3 0.039692911 2.531852e-03
4 0.032746217 4.796163e-03
5 0.009283177 8.070000e-09
6 0.014627975 5.851190e-03

# Run ensemble clustering on train dataset

For this portion we used diceR to run a consensus cluster with the following settings:
- nk = 2 - 15 clusters, to be sure I captured all possible groupings
- reps = 1 because I found that multiple attempts to cluster the same way didn't change the result significantly
- We also broke up the number of clusters to alleviate processing time, so a max of 4 algorithms are run in each command.

In [4]:
cluster1 <- consensus_cluster(train_df[,4:30], nk=2:15, p.item=1, reps=1, 
                             algorithms=c("nmf", "hc", "diana", "km"), scale = FALSE)

New names:
* Ag.Rh -> Ag.Rh...1
* Al.Rh -> Al.Rh...2
* As.Rh -> As.Rh...3
* Au.Rh -> Au.Rh...4
* Ca.Rh -> Ca.Rh...5
* ...


Clustering Algorithm 1 of 5: NMF_Brunet (k = 3) [--------------]   3% eta:  4m

Clustering Algorithm 1 of 5: NMF_Brunet (k = 4) [>-------------]   4% eta: 10m

Clustering Algorithm 1 of 5: NMF_Brunet (k = 5) [>-------------]   6% eta: 12m

Clustering Algorithm 1 of 5: NMF_Brunet (k = 6) [>-------------]   7% eta: 11m

Clustering Algorithm 1 of 5: NMF_Brunet (k = 7) [>-------------]   9% eta: 13m

Clustering Algorithm 1 of 5: NMF_Brunet (k = 8) [>-------------]  10% eta: 13m

Clustering Algorithm 1 of 5: NMF_Brunet (k = 9) [=>------------]  11% eta: 14m

Clustering Algorithm 1 of 5: NMF_Brunet (k = 10) [=>-----------]  13% eta: 14m

Clustering Algorithm 1 of 5: NMF_Brunet (k = 11) [=>-----------]  14% eta: 14m

Clustering Algorithm 1 of 5: NMF_Brunet (k = 12) [=>-----------]  16% eta: 15m

Clustering Algorithm 1 of 5: NMF_Brunet (k = 13) [=>-----------]  17% eta: 15m

Clustering Algorithm 1 of 5: NMF_Brunet (k = 14) [=>-----------]  19% eta: 15m

Clustering Algorithm 1 of 5: NMF_Brunet (k = 15) [==>----------]  20% eta: 15m

Clustering Algorithm 2 of 5: NMF_Lee (k = 2) [===>-------------]  21% eta: 15m

Clustering Algorithm 2 of 5: NMF_Lee (k = 3) [===>-------------]  23% eta: 14m

Clustering Algorithm 2 of 5: NMF_Lee (k = 4) [===>-------------]  24% eta: 14m

Clustering Algorithm 2 of 5: NMF_Lee (k = 5) [===>-------------]  26% eta: 14m

Clustering Algorithm 2 of 5: NMF_Lee (k = 6) [====>------------]  27% eta: 13m

Clustering Algorithm 2 of 5: NMF_Lee (k = 7) [====>------------]  29% eta: 13m

Clustering Algorithm 2 of 5: NMF_Lee (k = 8) [====>------------]  30% eta: 13m

Clustering Algorithm 2 of 5: NMF_Lee (k = 9) [====>------------]  31% eta: 13m

Clustering Algorithm 2 of 5: NMF_Lee (k = 10) [====>-----------]  33% eta: 13m

Clustering Algorithm 2 of 5: NMF_Lee (k = 11) [====>-----------]  34% eta: 12m

Clustering Algorithm 2 of 5: NMF_Lee (k = 12) [=====>----------]  36% eta: 12m

Clustering Algorithm 2 of 5: NMF_Lee (k = 13) [=====>----------]  37% eta: 12m

Clustering Algorithm 2 of 5: NMF_Lee (k = 14) [=====>----------]  39% eta: 12m

Clustering Algorithm 2 of 5: NMF_Lee (k = 15) [=====>----------]  40% eta: 12m

Clustering Algorithm 3 of 5: HC_Euclidean (k = 2) [====>-------]  41% eta: 11m

Clustering Algorithm 3 of 5: HC_Euclidean (k = 3) [====>-------]  43% eta: 11m

Clustering Algorithm 3 of 5: HC_Euclidean (k = 4) [====>-------]  44% eta: 10m

Clustering Algorithm 3 of 5: HC_Euclidean (k = 5) [====>-------]  46% eta: 10m

Clustering Algorithm 3 of 5: HC_Euclidean (k = 6) [=====>------]  47% eta:  9m

Clustering Algorithm 3 of 5: HC_Euclidean (k = 7) [=====>------]  49% eta:  9m

Clustering Algorithm 3 of 5: HC_Euclidean (k = 8) [=====>------]  50% eta:  8m

Clustering Algorithm 3 of 5: HC_Euclidean (k = 9) [=====>------]  51% eta:  8m

Clustering Algorithm 3 of 5: HC_Euclidean (k = 10) [=====>-----]  53% eta:  7m

Clustering Algorithm 3 of 5: HC_Euclidean (k = 11) [=====>-----]  54% eta:  7m

Clustering Algorithm 3 of 5: HC_Euclidean (k = 12) [=====>-----]  56% eta:  6m

Clustering Algorithm 3 of 5: HC_Euclidean (k = 13) [=====>-----]  57% eta:  6m

Clustering Algorithm 3 of 5: HC_Euclidean (k = 14) [=====>-----]  59% eta:  6m

Clustering Algorithm 3 of 5: HC_Euclidean (k = 15) [======>----]  60% eta:  5m

Clustering Algorithm 4 of 5: DIANA_Euclidean (k = 2) [=====>---]  61% eta:  5m

Clustering Algorithm 4 of 5: DIANA_Euclidean (k = 3) [=====>---]  63% eta:  5m

Clustering Algorithm 4 of 5: DIANA_Euclidean (k = 4) [=====>---]  64% eta:  5m

Clustering Algorithm 4 of 5: DIANA_Euclidean (k = 5) [=====>---]  66% eta:  4m

Clustering Algorithm 4 of 5: DIANA_Euclidean (k = 6) [=====>---]  67% eta:  4m

Clustering Algorithm 4 of 5: DIANA_Euclidean (k = 7) [=====>---]  69% eta:  4m

Clustering Algorithm 4 of 5: DIANA_Euclidean (k = 8) [=====>---]  70% eta:  4m

Clustering Algorithm 4 of 5: DIANA_Euclidean (k = 9) [=====>---]  71% eta:  3m

Clustering Algorithm 4 of 5: DIANA_Euclidean (k = 10) [=====>--]  73% eta:  3m

Clustering Algorithm 4 of 5: DIANA_Euclidean (k = 11) [=====>--]  74% eta:  3m

Clustering Algorithm 4 of 5: DIANA_Euclidean (k = 12) [=====>--]  76% eta:  3m

Clustering Algorithm 4 of 5: DIANA_Euclidean (k = 13) [=====>--]  77% eta:  3m

Clustering Algorithm 4 of 5: DIANA_Euclidean (k = 14) [=====>--]  79% eta:  2m

Clustering Algorithm 4 of 5: DIANA_Euclidean (k = 15) [=====>--]  80% eta:  2m

Clustering Algorithm 5 of 5: KM (k = 2) [=================>----]  81% eta:  2m

Clustering Algorithm 5 of 5: KM (k = 3) [=================>----]  83% eta:  2m

Clustering Algorithm 5 of 5: KM (k = 4) [==================>---]  84% eta:  2m

Clustering Algorithm 5 of 5: KM (k = 5) [==================>---]  86% eta:  1m

Clustering Algorithm 5 of 5: KM (k = 6) [==================>---]  87% eta:  1m

Clustering Algorithm 5 of 5: KM (k = 7) [==================>---]  89% eta:  1m

Clustering Algorithm 5 of 5: KM (k = 8) [===================>--]  90% eta:  1m

Clustering Algorithm 5 of 5: KM (k = 9) [===================>--]  91% eta: 49s

Clustering Algorithm 5 of 5: KM (k = 10) [===================>-]  93% eta: 40s

Clustering Algorithm 5 of 5: KM (k = 11) [===================>-]  94% eta: 32s

Clustering Algorithm 5 of 5: KM (k = 12) [===================>-]  96% eta: 24s

Clustering Algorithm 5 of 5: KM (k = 13) [===================>-]  97% eta: 15s

Clustering Algorithm 5 of 5: KM (k = 14) [====================>]  99% eta:  8s

Clustering Algorithm 5 of 5: KM (k = 15) [=====================] 100% eta:  0s

In [5]:
cluster2 <- consensus_cluster(train_df[,4:30], nk=2:15, p.item=1, reps=1, 
                             algorithms=c("pam", "ap", "sc", "gmm"), scale = FALSE)

Clustering Algorithm 1 of 4: PAM_Euclidean (k = 4) [>----------]   5% eta:  6s

Clustering Algorithm 1 of 4: PAM_Euclidean (k = 5) [>----------]   7% eta:  9s

Clustering Algorithm 1 of 4: PAM_Euclidean (k = 6) [>----------]   9% eta: 10s

Clustering Algorithm 1 of 4: PAM_Euclidean (k = 7) [>----------]  11% eta: 10s

Clustering Algorithm 1 of 4: PAM_Euclidean (k = 8) [>----------]  12% eta: 12s

Clustering Algorithm 1 of 4: PAM_Euclidean (k = 9) [=>---------]  14% eta: 14s

Clustering Algorithm 1 of 4: PAM_Euclidean (k = 10) [=>--------]  16% eta: 16s

Clustering Algorithm 1 of 4: PAM_Euclidean (k = 11) [=>--------]  18% eta: 18s

Clustering Algorithm 1 of 4: PAM_Euclidean (k = 12) [=>--------]  20% eta: 20s

Clustering Algorithm 1 of 4: PAM_Euclidean (k = 13) [=>--------]  21% eta: 24s

Clustering Algorithm 1 of 4: PAM_Euclidean (k = 14) [=>--------]  23% eta: 27s

Clustering Algorithm 1 of 4: PAM_Euclidean (k = 15) [=>--------]  25% eta: 29s

Clustering Algorithm 2 of 4: AP (k = 2) [=====>----------------]  27% eta: 32s

Clustering Algorithm 2 of 4: AP (k = 3) [=====>----------------]  29% eta:  3m

Clustering Algorithm 2 of 4: AP (k = 4) [======>---------------]  30% eta:  6m

Clustering Algorithm 2 of 4: AP (k = 5) [======>---------------]  32% eta:  7m

Clustering Algorithm 2 of 4: AP (k = 6) [======>---------------]  34% eta:  8m

Clustering Algorithm 2 of 4: AP (k = 7) [=======>--------------]  36% eta:  9m

Clustering Algorithm 2 of 4: AP (k = 8) [=======>--------------]  38% eta: 10m

Clustering Algorithm 2 of 4: AP (k = 9) [========>-------------]  39% eta: 11m

Clustering Algorithm 2 of 4: AP (k = 10) [========>------------]  41% eta: 12m

Clustering Algorithm 2 of 4: AP (k = 11) [========>------------]  43% eta: 12m

Clustering Algorithm 2 of 4: AP (k = 12) [========>------------]  45% eta: 13m

Clustering Algorithm 2 of 4: AP (k = 13) [=========>-----------]  46% eta: 13m

Clustering Algorithm 2 of 4: AP (k = 14) [=========>-----------]  48% eta: 13m

Clustering Algorithm 2 of 4: AP (k = 15) [=========>-----------]  50% eta: 13m

Clustering Algorithm 3 of 4: SC (k = 2) [==========>-----------]  52% eta: 13m

Clustering Algorithm 3 of 4: SC (k = 3) [===========>----------]  54% eta: 12m

Clustering Algorithm 3 of 4: SC (k = 4) [===========>----------]  55% eta: 12m

Clustering Algorithm 3 of 4: SC (k = 5) [============>---------]  57% eta: 11m

Clustering Algorithm 3 of 4: SC (k = 6) [============>---------]  59% eta: 11m

Clustering Algorithm 3 of 4: SC (k = 7) [============>---------]  61% eta: 10m

Clustering Algorithm 3 of 4: SC (k = 8) [=============>--------]  62% eta: 10m

Clustering Algorithm 3 of 4: SC (k = 9) [=============>--------]  64% eta:  9m

Clustering Algorithm 3 of 4: SC (k = 10) [=============>-------]  66% eta:  9m

Clustering Algorithm 3 of 4: SC (k = 11) [=============>-------]  68% eta:  8m

Clustering Algorithm 3 of 4: SC (k = 12) [==============>------]  70% eta:  8m

Clustering Algorithm 3 of 4: SC (k = 13) [==============>------]  71% eta:  7m

Clustering Algorithm 3 of 4: SC (k = 14) [==============>------]  73% eta:  7m

Clustering Algorithm 3 of 4: SC (k = 15) [===============>-----]  75% eta:  6m

Clustering Algorithm 4 of 4: GMM (k = 2) [===============>-----]  77% eta:  6m

Clustering Algorithm 4 of 4: GMM (k = 3) [===============>-----]  79% eta:  5m

Clustering Algorithm 4 of 4: GMM (k = 4) [================>----]  80% eta:  5m

Clustering Algorithm 4 of 4: GMM (k = 5) [================>----]  82% eta:  5m

Clustering Algorithm 4 of 4: GMM (k = 6) [=================>---]  84% eta:  5m

Clustering Algorithm 4 of 4: GMM (k = 7) [=================>---]  86% eta:  5m

Clustering Algorithm 4 of 4: GMM (k = 8) [=================>---]  88% eta:  4m

Clustering Algorithm 4 of 4: GMM (k = 9) [==================>--]  89% eta:  4m

Clustering Algorithm 4 of 4: GMM (k = 10) [=================>--]  91% eta:  4m

Clustering Algorithm 4 of 4: GMM (k = 11) [==================>-]  93% eta:  3m

Clustering Algorithm 4 of 4: GMM (k = 12) [==================>-]  95% eta:  2m

Clustering Algorithm 4 of 4: GMM (k = 13) [==================>-]  96% eta:  2m

Clustering Algorithm 4 of 4: GMM (k = 14) [===================>]  98% eta: 48s

Clustering Algorithm 4 of 4: GMM (k = 15) [====================] 100% eta:  0s

In [6]:
cluster3 <- consensus_cluster(train_df[,4:30], nk=2:15, p.item=1, reps=1, 
                             algorithms=c("block", "som", "cmeans"), scale = FALSE)

Clustering Algorithm 1 of 3: BLOCK (k = 3) [>------------------]   5% eta:  4s

Clustering Algorithm 1 of 3: BLOCK (k = 4) [>------------------]   7% eta:  7s

Clustering Algorithm 1 of 3: BLOCK (k = 5) [=>-----------------]  10% eta:  8s

Clustering Algorithm 1 of 3: BLOCK (k = 6) [=>-----------------]  12% eta: 10s

Clustering Algorithm 1 of 3: BLOCK (k = 7) [==>----------------]  14% eta: 16s

Clustering Algorithm 1 of 3: BLOCK (k = 8) [==>----------------]  17% eta: 21s

Clustering Algorithm 1 of 3: BLOCK (k = 9) [===>---------------]  19% eta: 31s

Clustering Algorithm 1 of 3: BLOCK (k = 10) [===>--------------]  21% eta: 41s

Clustering Algorithm 1 of 3: BLOCK (k = 11) [===>--------------]  24% eta:  1m

Clustering Algorithm 1 of 3: BLOCK (k = 12) [====>-------------]  26% eta:  1m

Clustering Algorithm 1 of 3: BLOCK (k = 13) [====>-------------]  29% eta:  1m

Clustering Algorithm 1 of 3: BLOCK (k = 14) [=====>------------]  31% eta:  1m

Clustering Algorithm 1 of 3: BLOCK (k = 15) [=====>------------]  33% eta:  1m

Clustering Algorithm 2 of 3: SOM (k = 2) [=======>-------------]  36% eta:  1m

Clustering Algorithm 2 of 3: SOM (k = 3) [=======>-------------]  38% eta:  1m

Clustering Algorithm 2 of 3: SOM (k = 4) [=======>-------------]  40% eta:  1m

Clustering Algorithm 2 of 3: SOM (k = 5) [========>------------]  43% eta:  1m

Clustering Algorithm 2 of 3: SOM (k = 6) [=========>-----------]  45% eta: 48s

Clustering Algorithm 2 of 3: SOM (k = 7) [=========>-----------]  48% eta: 45s

Clustering Algorithm 2 of 3: SOM (k = 8) [=========>-----------]  50% eta: 43s

Clustering Algorithm 2 of 3: SOM (k = 9) [==========>----------]  52% eta: 40s

Clustering Algorithm 2 of 3: SOM (k = 10) [==========>---------]  55% eta: 38s

Clustering Algorithm 2 of 3: SOM (k = 11) [==========>---------]  57% eta: 35s

Clustering Algorithm 2 of 3: SOM (k = 12) [===========>--------]  60% eta: 33s

Clustering Algorithm 2 of 3: SOM (k = 13) [===========>--------]  62% eta: 31s

Clustering Algorithm 2 of 3: SOM (k = 14) [============>-------]  64% eta: 29s

Clustering Algorithm 2 of 3: SOM (k = 15) [============>-------]  67% eta: 27s

Clustering Algorithm 3 of 3: CMEANS (k = 2) [===========>------]  69% eta: 24s

Clustering Algorithm 3 of 3: CMEANS (k = 3) [============>-----]  71% eta: 22s

Clustering Algorithm 3 of 3: CMEANS (k = 4) [============>-----]  74% eta: 19s

Clustering Algorithm 3 of 3: CMEANS (k = 5) [=============>----]  76% eta: 17s

Clustering Algorithm 3 of 3: CMEANS (k = 6) [=============>----]  79% eta: 15s

Clustering Algorithm 3 of 3: CMEANS (k = 7) [==============>---]  81% eta: 13s

Clustering Algorithm 3 of 3: CMEANS (k = 8) [==============>---]  83% eta: 11s

Clustering Algorithm 3 of 3: CMEANS (k = 9) [==============>---]  86% eta:  9s

Clustering Algorithm 3 of 3: CMEANS (k = 10) [==============>--]  88% eta:  7s

Clustering Algorithm 3 of 3: CMEANS (k = 11) [==============>--]  90% eta:  6s

Clustering Algorithm 3 of 3: CMEANS (k = 12) [===============>-]  93% eta:  4s

Clustering Algorithm 3 of 3: CMEANS (k = 13) [===============>-]  95% eta:  3s

Clustering Algorithm 3 of 3: CMEANS (k = 14) [================>]  98% eta:  1s

Clustering Algorithm 3 of 3: CMEANS (k = 15) [=================] 100% eta:  0s

# Choose a clustering method

In this section we examine each of the results of the clustering algorithms and choose that which best groups our 'known' groups together and separates them out. Before this can be done, however, we need to do some work turning the results of the clustering step into readable data frames.

In [7]:
# save the results of the algorithm as individual dataframes
brunet <- cluster1[,,"NMF_Brunet",1:14]
lee <- cluster1[,,"NMF_Lee",1:14]
hc <- cluster1[,,"HC_Euclidean",1:14]
diana <- cluster1[,,"DIANA_Euclidean",1:14]
km <- cluster1[,,"KM",1:14]
pam <- cluster2[,,"PAM_Euclidean",1:14]
ap <- cluster2[,,"AP",1:14]
sc <- cluster2[,,"SC",1:14]
gmm <- cluster2[,,"GMM",1:14]
block <- cluster3[,,"BLOCK",1:14]
som <- cluster3[,,"SOM",1:14]
cmeans <- cluster3[,,"CMEANS",1:14]

In [8]:
# preview one of the tables
head(brunet)

  2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 1 1 5 5 5 5 5 1  1  5  1  1  12
2 2 1 1 5 5 5 5 5 1  1  1  2  9   1
3 2 1 1 5 5 5 5 8 1  1  1  1  1   1
4 2 1 1 5 5 5 5 5 1  1  1  2  9   1
5 2 1 1 5 5 5 5 5 1  1  1  2  9   1
6 2 1 1 5 5 5 5 5 1  1  1  2  9   1

In [9]:
# Each number in the table refers to the group that each sample has been assigned to.
# Edit each value in the tables by adding "Group_" to each of the numbers so that they are strings and can be counted, not summed, by crosstab
brunet[,1:14] <- paste("Group", brunet[,1:14], sep = "_")
lee[,1:14] <- paste("Group", lee[,1:14], sep = "_")
hc[,1:14] <- paste("Group", hc[,1:14], sep = "_")
diana[,1:14] <- paste("Group", diana[,1:14], sep = "_")
km[,1:14] <- paste("Group", km[,1:14], sep = "_")
pam[,1:14] <- paste("Group", pam[,1:14], sep = "_")
ap[,1:14] <- paste("Group", ap[,1:14], sep = "_")
sc[,1:14] <- paste("Group", sc[,1:14], sep = "_")
gmm[,1:14] <- paste("Group", gmm[,1:14], sep = "_")
block[,1:14] <- paste("Group", block[,1:14], sep = "_")
som[,1:14] <- paste("Group", som[,1:14], sep = "_")
cmeans[,1:14] <- paste("Group", cmeans[,1:14], sep = "_")
head(brunet)

  2       3       4       5       6       7       8       9       10
1 Group_2 Group_1 Group_1 Group_5 Group_5 Group_5 Group_5 Group_5 Group_1
2 Group_2 Group_1 Group_1 Group_5 Group_5 Group_5 Group_5 Group_5 Group_1
3 Group_2 Group_1 Group_1 Group_5 Group_5 Group_5 Group_5 Group_8 Group_1
4 Group_2 Group_1 Group_1 Group_5 Group_5 Group_5 Group_5 Group_5 Group_1
5 Group_2 Group_1 Group_1 Group_5 Group_5 Group_5 Group_5 Group_5 Group_1
6 Group_2 Group_1 Group_1 Group_5 Group_5 Group_5 Group_5 Group_5 Group_1
  11      12      13      14      15
1 Group_1 Group_5 Group_1 Group_1 Group_12
2 Group_1 Group_1 Group_2 Group_9 Group_1
3 Group_1 Group_1 Group_1 Group_1 Group_1
4 Group_1 Group_1 Group_2 Group_9 Group_1
5 Group_1 Group_1 Group_2 Group_9 Group_1
6 Group_1 Group_1 Group_2 Group_9 Group_1

In [10]:
# turn each of these matrices into dataframes
brunet <- as.data.frame(brunet)
lee <- as.data.frame(lee)
hc <- as.data.frame(hc)
diana <- as.data.frame(diana)
km <- as.data.frame(km)
pam <- as.data.frame(pam)
ap <- as.data.frame(ap)
sc <- as.data.frame(sc)
gmm <- as.data.frame(gmm)
block <- as.data.frame(block)
som <- as.data.frame(som)
cmeans <- as.data.frame(cmeans)

head(brunet)

  2       3       4       5       6       7       8       9       10
1 Group_2 Group_1 Group_1 Group_5 Group_5 Group_5 Group_5 Group_5 Group_1
2 Group_2 Group_1 Group_1 Group_5 Group_5 Group_5 Group_5 Group_5 Group_1
3 Group_2 Group_1 Group_1 Group_5 Group_5 Group_5 Group_5 Group_8 Group_1
4 Group_2 Group_1 Group_1 Group_5 Group_5 Group_5 Group_5 Group_5 Group_1
5 Group_2 Group_1 Group_1 Group_5 Group_5 Group_5 Group_5 Group_5 Group_1
6 Group_2 Group_1 Group_1 Group_5 Group_5 Group_5 Group_5 Group_5 Group_1
  11      12      13      14      15
1 Group_1 Group_5 Group_1 Group_1 Group_12
2 Group_1 Group_1 Group_2 Group_9 Group_1
3 Group_1 Group_1 Group_1 Group_1 Group_1
4 Group_1 Group_1 Group_2 Group_9 Group_1
5 Group_1 Group_1 Group_2 Group_9 Group_1
6 Group_1 Group_1 Group_2 Group_9 Group_1

In [11]:
# then add the is_known & vis columns back in to each df
brunet$is_known <- train$is_known
brunet$vis <- train$Vis

lee$is_known <- train$is_known
lee$vis <- train$Vis

hc$is_known <- train$is_known
hc$vis <- train$Vis

diana$is_known <- train$is_known
diana$vis <- train$Vis

km$is_known <- train$is_known
km$vis <- train$Vis

pam$is_known <- train$is_known
pam$vis <- train$Vis

ap$is_known <- train$is_known
ap$vis <- train$Vis

sc$is_known <- train$is_known
sc$vis <- train$Vis

gmm$is_known <- train$is_known
gmm$vis <- train$Vis

block$is_known <- train$is_known
block$vis <- train$Vis

som$is_known <- train$is_known
som$vis <- train$Vis

cmeans$is_known <- train$is_known
cmeans$vis <- train$Vis

head(brunet)

  2       3       4       5       6       7       8       9       10
1 Group_2 Group_1 Group_1 Group_5 Group_5 Group_5 Group_5 Group_5 Group_1
2 Group_2 Group_1 Group_1 Group_5 Group_5 Group_5 Group_5 Group_5 Group_1
3 Group_2 Group_1 Group_1 Group_5 Group_5 Group_5 Group_5 Group_8 Group_1
4 Group_2 Group_1 Group_1 Group_5 Group_5 Group_5 Group_5 Group_5 Group_1
5 Group_2 Group_1 Group_1 Group_5 Group_5 Group_5 Group_5 Group_5 Group_1
6 Group_2 Group_1 Group_1 Group_5 Group_5 Group_5 Group_5 Group_5 Group_1
  11      12      13      14      15       is_known vis
1 Group_1 Group_5 Group_1 Group_1 Group_12 Guess    Gravel Cherts
2 Group_1 Group_1 Group_2 Group_9 Group_1  Guess    Gravel Cherts
3 Group_1 Group_1 Group_1 Group_1 Group_1  Guess    Gravel Cherts
4 Group_1 Group_1 Group_2 Group_9 Group_1  Guess    Gravel Cherts
5 Group_1 Group_1 Group_2 Group_9 Group_1  Guess    Gravel Cherts
6 Group_1 Group_1 Group_2 Group_9 Group_1  Guess    Gravel Cherts

# Algorithm Selection Pt 2

In the previous notebook, we ran the clustering algorithms and checked their results. In this notebook, we will narrow down the results to only those which perform well, and check the results on artifacts to determine group labels.

In [182]:
# Set the max rows options to something bigger for this section
options(repr.matrix.max.rows=600, repr.matrix.max.cols=200)

In [77]:
# not good enough...
# this one splits up oman & black cherts into chert_1 & chert_2
# and puts silicified wood & limestone into chert_2

# Group 1 = 
# Group 2 = Chert_1
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = Chert_2
# Group 7 = 
# Group 8 = ESC
# Group 9 = 
# Group 10 = 

km_10_raw <- km[km$is_known == "Known",c(9,16)]
km_10_raw <- ftable(km_10_raw[])
km_10_raw <- as.data.frame(km_10_raw)
km_10_raw

   X10      vis                   Freq
1  Group_10 Alibates                0
2  Group_2  Alibates               20
3  Group_3  Alibates                0
4  Group_5  Alibates                0
5  Group_6  Alibates                3
6  Group_7  Alibates                0
7  Group_8  Alibates                0
8  Group_10 Edwards Plateau Chert   1
9  Group_2  Edwards Plateau Chert  56
10 Group_3  Edwards Plateau Chert   0
11 Group_5  Edwards Plateau Chert   6
12 Group_6  Edwards Plateau Chert   8
13 Group_7  Edwards Plateau Chert   1
14 Group_8  Edwards Plateau Chert   0
15 Group_10 El Sauz Chert           0
16 Group_2  El Sauz Chert          61
17 Group_3  El Sauz Chert           7
18 Group_5  El Sauz Chert           1
19 Group_6  El Sauz Chert          14
20 Group_7  El Sauz Chert           0
21 Group_8  El Sauz Chert         192
22 Group_10 Knife River Flint       0
23 Group_2  Knife River Flint       6
24 Group_3  Knife River Flint       0
25 Group_5  Knife River Flint       1
26 Group_6  Knife River Flint       4
27 Group_7  Knife River Flint       1
28 Group_8  Knife River Flint       0
29 Group_10 Oman Chert              0
30 Group_2  Oman Chert              7
31 Group_3  Oman Chert              0
32 Group_5  Oman Chert              0
33 Group_6  Oman Chert             14
34 Group_7  Oman Chert              0
35 Group_8  Oman Chert              0

In [185]:
km_10_art <- km[km$is_known != "Known",c(9,16)]
km_10_art <- ftable(km_10_art[])
km_10_art <- as.data.frame(km_10_art)
km_10_art

    X10      vis               Freq
1   Group_1  Agate               0
2   Group_10 Agate               0
3   Group_2  Agate              47
4   Group_3  Agate               0
5   Group_4  Agate               0
6   Group_5  Agate               0
7   Group_6  Agate               2
8   Group_7  Agate               0
9   Group_8  Agate               1
10  Group_9  Agate               0
11  Group_1  Alibates            0
12  Group_10 Alibates            0
13  Group_2  Alibates            3
14  Group_3  Alibates            0
15  Group_4  Alibates            0
16  Group_5  Alibates            0
17  Group_6  Alibates            0
18  Group_7  Alibates            0
19  Group_8  Alibates            0
20  Group_9  Alibates            0
21  Group_1  Black Cherts        0
22  Group_10 Black Cherts        0
23  Group_2  Black Cherts        7
24  Group_3  Black Cherts        0
25  Group_4  Black Cherts        0
26  Group_5  Black Cherts        0
27  Group_6  Black Cherts        5
28  Group_7  Black Cherts        2
29  Group_8  Black Cherts        0
30  Group_9  Black Cherts        0
31  Group_1  Black Metamorphic   0
32  Group_10 Black Metamorphic   0
33  Group_2  Black Metamorphic  22
34  Group_3  Black Metamorphic   0
35  Group_4  Black Metamorphic   0
36  Group_5  Black Metamorphic   5
37  Group_6  Black Metamorphic  22
38  Group_7  Black Metamorphic   1
39  Group_8  Black Metamorphic   0
40  Group_9  Black Metamorphic   0
41  Group_1  El Sauz Chert       0
42  Group_10 El Sauz Chert       0
43  Group_2  El Sauz Chert      13
44  Group_3  El Sauz Chert       3
45  Group_4  El Sauz Chert       0
46  Group_5  El Sauz Chert       0
47  Group_6  El Sauz Chert       2
48  Group_7  El Sauz Chert       0
49  Group_8  El Sauz Chert      35
50  Group_9  El Sauz Chert       0
51  Group_1  Gravel Cherts       0
52  Group_10 Gravel Cherts       3
53  Group_2  Gravel Cherts     474
54  Group_3  Gravel Cherts       1
55  Group_4  Gravel Cherts       1
56  Group_5  Gravel Cherts      10
57  Group_6  Gravel Cherts      34
58  Group_7  Gravel Cherts       4
59  Group_8  Gravel Cherts       3
60  Group_9  Gravel Cherts       0
61  Group_1  Limestone           1
62  Group_10 Limestone           4
63  Group_2  Limestone           5
64  Group_3  Limestone           0
65  Group_4  Limestone           0
66  Group_5  Limestone           0
67  Group_6  Limestone           7
68  Group_7  Limestone           4
69  Group_8  Limestone           0
70  Group_9  Limestone           0
71  Group_1  Silicified Wood     0
72  Group_10 Silicified Wood     4
73  Group_2  Silicified Wood     8
74  Group_3  Silicified Wood     0
75  Group_4  Silicified Wood     1
76  Group_5  Silicified Wood     6
77  Group_6  Silicified Wood    14
78  Group_7  Silicified Wood     2
79  Group_8  Silicified Wood     0
80  Group_9  Silicified Wood     0
81  Group_1  Undiff. igneous     0
82  Group_10 Undiff. igneous     3
83  Group_2  Undiff. igneous     4
84  Group_3  Undiff. igneous     0
85  Group_4  Undiff. igneous     1
86  Group_5  Undiff. igneous     9
87  Group_6  Undiff. igneous     5
88  Group_7  Undiff. igneous     6
89  Group_8  Undiff. igneous     1
90  Group_9  Undiff. igneous     2
91  Group_1  Unk                 0
92  Group_10 Unk                 0
93  Group_2  Unk                21
94  Group_3  Unk                 1
95  Group_4  Unk                 0
96  Group_5  Unk                 2
97  Group_6  Unk                 3
98  Group_7  Unk                 4
99  Group_8  Unk                 1
100 Group_9  Unk                 0

In [78]:
# not good enough...
# this one puts a variety of other types into the oman group

# Group 1 = 
# Group 2 = Chert_1
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = Oman
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = ESC

km_11_raw <- km[km$is_known == "Known",c(10,16)]
km_11_raw <- ftable(km_11_raw[])
km_11_raw <- as.data.frame(km_11_raw)
km_11_raw

   X11      vis                   Freq
1  Group_10 Alibates                0
2  Group_11 Alibates                0
3  Group_2  Alibates               18
4  Group_3  Alibates                0
5  Group_5  Alibates                1
6  Group_6  Alibates                4
7  Group_7  Alibates                0
8  Group_8  Alibates                0
9  Group_10 Edwards Plateau Chert   1
10 Group_11 Edwards Plateau Chert   0
11 Group_2  Edwards Plateau Chert  47
12 Group_3  Edwards Plateau Chert   1
13 Group_5  Edwards Plateau Chert   5
14 Group_6  Edwards Plateau Chert  15
15 Group_7  Edwards Plateau Chert   3
16 Group_8  Edwards Plateau Chert   0
17 Group_10 El Sauz Chert           0
18 Group_11 El Sauz Chert         191
19 Group_2  El Sauz Chert          46
20 Group_3  El Sauz Chert           0
21 Group_5  El Sauz Chert           5
22 Group_6  El Sauz Chert          20
23 Group_7  El Sauz Chert           0
24 Group_8  El Sauz Chert          13
25 Group_10 Knife River Flint       0
26 Group_11 Knife River Flint       0
27 Group_2  Knife River Flint       5
28 Group_3  Knife River Flint       1
29 Group_5  Knife River Flint       3
30 Group_6  Knife River Flint       2
31 Group_7  Knife River Flint       1
32 Group_8  Knife River Flint       0
33 Group_10 Oman Chert              0
34 Group_11 Oman Chert              0
35 Group_2  Oman Chert              1
36 Group_3  Oman Chert              0
37 Group_5  Oman Chert              3
38 Group_6  Oman Chert             17
39 Group_7  Oman Chert              0
40 Group_8  Oman Chert              0

In [186]:
km_11_art <- km[km$is_known != "Known",c(10,16)]
km_11_art <- ftable(km_11_art[])
km_11_art <- as.data.frame(km_11_art)
km_11_art

    X11      vis               Freq
1   Group_1  Agate               0
2   Group_10 Agate               0
3   Group_11 Agate               0
4   Group_2  Agate              46
5   Group_3  Agate               0
6   Group_4  Agate               0
7   Group_5  Agate               1
8   Group_6  Agate               2
9   Group_7  Agate               0
10  Group_8  Agate               1
11  Group_9  Agate               0
12  Group_1  Alibates            0
13  Group_10 Alibates            0
14  Group_11 Alibates            0
15  Group_2  Alibates            3
16  Group_3  Alibates            0
17  Group_4  Alibates            0
18  Group_5  Alibates            0
19  Group_6  Alibates            0
20  Group_7  Alibates            0
21  Group_8  Alibates            0
22  Group_9  Alibates            0
23  Group_1  Black Cherts        0
24  Group_10 Black Cherts        0
25  Group_11 Black Cherts        0
26  Group_2  Black Cherts        5
27  Group_3  Black Cherts        0
28  Group_4  Black Cherts        0
29  Group_5  Black Cherts        1
30  Group_6  Black Cherts        6
31  Group_7  Black Cherts        2
32  Group_8  Black Cherts        0
33  Group_9  Black Cherts        0
34  Group_1  Black Metamorphic   0
35  Group_10 Black Metamorphic   0
36  Group_11 Black Metamorphic   0
37  Group_2  Black Metamorphic  16
38  Group_3  Black Metamorphic   1
39  Group_4  Black Metamorphic   0
40  Group_5  Black Metamorphic  14
41  Group_6  Black Metamorphic  16
42  Group_7  Black Metamorphic   3
43  Group_8  Black Metamorphic   0
44  Group_9  Black Metamorphic   0
45  Group_1  El Sauz Chert       0
46  Group_10 El Sauz Chert       0
47  Group_11 El Sauz Chert      33
48  Group_2  El Sauz Chert      10
49  Group_3  El Sauz Chert       0
50  Group_4  El Sauz Chert       0
51  Group_5  El Sauz Chert       1
52  Group_6  El Sauz Chert       5
53  Group_7  El Sauz Chert       0
54  Group_8  El Sauz Chert       4
55  Group_9  El Sauz Chert       0
56  Group_1  Gravel Cherts       0
57  Group_10 Gravel Cherts       2
58  Group_11 Gravel Cherts       2
59  Group_2  Gravel Cherts     442
60  Group_3  Gravel Cherts       4
61  Group_4  Gravel Cherts       1
62  Group_5  Gravel Cherts      16
63  Group_6  Gravel Cherts      54
64  Group_7  Gravel Cherts       8
65  Group_8  Gravel Cherts       1
66  Group_9  Gravel Cherts       0
67  Group_1  Limestone           1
68  Group_10 Limestone           4
69  Group_11 Limestone           0
70  Group_2  Limestone           4
71  Group_3  Limestone           4
72  Group_4  Limestone           0
73  Group_5  Limestone           5
74  Group_6  Limestone           3
75  Group_7  Limestone           0
76  Group_8  Limestone           0
77  Group_9  Limestone           0
78  Group_1  Silicified Wood     0
79  Group_10 Silicified Wood     4
80  Group_11 Silicified Wood     0
81  Group_2  Silicified Wood     8
82  Group_3  Silicified Wood     2
83  Group_4  Silicified Wood     1
84  Group_5  Silicified Wood    11
85  Group_6  Silicified Wood     5
86  Group_7  Silicified Wood     4
87  Group_8  Silicified Wood     0
88  Group_9  Silicified Wood     0
89  Group_1  Undiff. igneous     0
90  Group_10 Undiff. igneous     3
91  Group_11 Undiff. igneous     1
92  Group_2  Undiff. igneous     3
93  Group_3  Undiff. igneous     4
94  Group_4  Undiff. igneous     1
95  Group_5  Undiff. igneous     6
96  Group_6  Undiff. igneous     4
97  Group_7  Undiff. igneous     7
98  Group_8  Undiff. igneous     0
99  Group_9  Undiff. igneous     2
100 Group_1  Unk                 0
101 Group_10 Unk                 0
102 Group_11 Unk                 1
103 Group_2  Unk                19
104 Group_3  Unk                 3
105 Group_4  Unk                 0
106 Group_5  Unk                 2
107 Group_6  Unk                 3
108 Group_7  Unk                 3
109 Group_8  Unk                 1
110 Group_9  Unk                 0

In [79]:
# not good enough...
# this one puts a variety of other types in with the oman group

# Group 1 = 
# Group 2 = Chert_1
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = Oman
# Group 7 = Silicified_wood
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = ESC
# Group 12 = 

km_12_raw <- km[km$is_known == "Known",c(11,16)]
km_12_raw <- ftable(km_12_raw[])
km_12_raw <- as.data.frame(km_12_raw)
km_12_raw

   X12      vis                   Freq
1  Group_10 Alibates                0
2  Group_11 Alibates                0
3  Group_12 Alibates                0
4  Group_2  Alibates               17
5  Group_4  Alibates                0
6  Group_6  Alibates                5
7  Group_7  Alibates                1
8  Group_8  Alibates                0
9  Group_10 Edwards Plateau Chert   1
10 Group_11 Edwards Plateau Chert   0
11 Group_12 Edwards Plateau Chert   3
12 Group_2  Edwards Plateau Chert  46
13 Group_4  Edwards Plateau Chert   1
14 Group_6  Edwards Plateau Chert  16
15 Group_7  Edwards Plateau Chert   5
16 Group_8  Edwards Plateau Chert   0
17 Group_10 El Sauz Chert           0
18 Group_11 El Sauz Chert         199
19 Group_12 El Sauz Chert           0
20 Group_2  El Sauz Chert          26
21 Group_4  El Sauz Chert           0
22 Group_6  El Sauz Chert          20
23 Group_7  El Sauz Chert           6
24 Group_8  El Sauz Chert          24
25 Group_10 Knife River Flint       1
26 Group_11 Knife River Flint       0
27 Group_12 Knife River Flint       1
28 Group_2  Knife River Flint       5
29 Group_4  Knife River Flint       0
30 Group_6  Knife River Flint       2
31 Group_7  Knife River Flint       3
32 Group_8  Knife River Flint       0
33 Group_10 Oman Chert              0
34 Group_11 Oman Chert              0
35 Group_12 Oman Chert              0
36 Group_2  Oman Chert              1
37 Group_4  Oman Chert              0
38 Group_6  Oman Chert             17
39 Group_7  Oman Chert              3
40 Group_8  Oman Chert              0

In [187]:
km_12_art <- km[km$is_known != "Known",c(11,16)]
km_12_art <- ftable(km_12_art[])
km_12_art <- as.data.frame(km_12_art)
km_12_art

    X12      vis               Freq
1   Group_1  Agate               0
2   Group_10 Agate               0
3   Group_11 Agate               0
4   Group_12 Agate               0
5   Group_2  Agate              46
6   Group_3  Agate               0
7   Group_4  Agate               0
8   Group_5  Agate               0
9   Group_6  Agate               2
10  Group_7  Agate               1
11  Group_8  Agate               1
12  Group_9  Agate               0
13  Group_1  Alibates            0
14  Group_10 Alibates            0
15  Group_11 Alibates            0
16  Group_12 Alibates            0
17  Group_2  Alibates            3
18  Group_3  Alibates            0
19  Group_4  Alibates            0
20  Group_5  Alibates            0
21  Group_6  Alibates            0
22  Group_7  Alibates            0
23  Group_8  Alibates            0
24  Group_9  Alibates            0
25  Group_1  Black Cherts        0
26  Group_10 Black Cherts        1
27  Group_11 Black Cherts        0
28  Group_12 Black Cherts        0
29  Group_2  Black Cherts        5
30  Group_3  Black Cherts        1
31  Group_4  Black Cherts        0
32  Group_5  Black Cherts        0
33  Group_6  Black Cherts        6
34  Group_7  Black Cherts        1
35  Group_8  Black Cherts        0
36  Group_9  Black Cherts        0
37  Group_1  Black Metamorphic   0
38  Group_10 Black Metamorphic   1
39  Group_11 Black Metamorphic   0
40  Group_12 Black Metamorphic   3
41  Group_2  Black Metamorphic  15
42  Group_3  Black Metamorphic   0
43  Group_4  Black Metamorphic   0
44  Group_5  Black Metamorphic   0
45  Group_6  Black Metamorphic  17
46  Group_7  Black Metamorphic  14
47  Group_8  Black Metamorphic   0
48  Group_9  Black Metamorphic   0
49  Group_1  El Sauz Chert       0
50  Group_10 El Sauz Chert       0
51  Group_11 El Sauz Chert      31
52  Group_12 El Sauz Chert       0
53  Group_2  El Sauz Chert       9
54  Group_3  El Sauz Chert       3
55  Group_4  El Sauz Chert       0
56  Group_5  El Sauz Chert       0
57  Group_6  El Sauz Chert       5
58  Group_7  El Sauz Chert       1
59  Group_8  El Sauz Chert       4
60  Group_9  El Sauz Chert       0
61  Group_1  Gravel Cherts       1
62  Group_10 Gravel Cherts       3
63  Group_11 Gravel Cherts       2
64  Group_12 Gravel Cherts       8
65  Group_2  Gravel Cherts     438
66  Group_3  Gravel Cherts       1
67  Group_4  Gravel Cherts       3
68  Group_5  Gravel Cherts       0
69  Group_6  Gravel Cherts      58
70  Group_7  Gravel Cherts      16
71  Group_8  Gravel Cherts       0
72  Group_9  Gravel Cherts       0
73  Group_1  Limestone           0
74  Group_10 Limestone           4
75  Group_11 Limestone           0
76  Group_12 Limestone           0
77  Group_2  Limestone           3
78  Group_3  Limestone           0
79  Group_4  Limestone           4
80  Group_5  Limestone           1
81  Group_6  Limestone           4
82  Group_7  Limestone           5
83  Group_8  Limestone           0
84  Group_9  Limestone           0
85  Group_1  Silicified Wood     1
86  Group_10 Silicified Wood     2
87  Group_11 Silicified Wood     0
88  Group_12 Silicified Wood     5
89  Group_2  Silicified Wood     8
90  Group_3  Silicified Wood     0
91  Group_4  Silicified Wood     4
92  Group_5  Silicified Wood     0
93  Group_6  Silicified Wood     3
94  Group_7  Silicified Wood    12
95  Group_8  Silicified Wood     0
96  Group_9  Silicified Wood     0
97  Group_1  Undiff. igneous     1
98  Group_10 Undiff. igneous     6
99  Group_11 Undiff. igneous     1
100 Group_12 Undiff. igneous     6
101 Group_2  Undiff. igneous     3
102 Group_3  Undiff. igneous     0
103 Group_4  Undiff. igneous     3
104 Group_5  Undiff. igneous     0
105 Group_6  Undiff. igneous     3
106 Group_7  Undiff. igneous     6
107 Group_8  Undiff. igneous     0
108 Group_9  Undiff. igneous     2
109 Group_1  Unk                 0
110 Group_10 Unk                 4
111 Group_11 Unk                 1
112 Group_12 Unk                 2
113 Group_2  Unk                18
114 Group_3  Unk                 1
115 Group_4  Unk                 0
116 Group_5  Unk                 0
117 Group_6  Unk                 4
118 Group_7  Unk                 2
119 Group_8  Unk                 0
120 Group_9  Unk                 0

In [80]:
# not good enough...
# a variety of types are mxed with oman

# Group 1 = 
# Group 2 = Chert_1
# Group 3 = 
# Group 4 = 
# Group 5 = Oman
# Group 6 = Chert_2
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = ESC
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

km_13_raw <- km[km$is_known == "Known",c(12,16)]
km_13_raw <- ftable(km_13_raw[])
km_13_raw <- as.data.frame(km_13_raw)
km_13_raw

   X13      vis                   Freq
1  Group_10 Alibates                0
2  Group_11 Alibates                0
3  Group_12 Alibates                0
4  Group_2  Alibates               15
5  Group_4  Alibates                0
6  Group_5  Alibates                0
7  Group_6  Alibates                7
8  Group_7  Alibates                1
9  Group_8  Alibates                0
10 Group_10 Edwards Plateau Chert   1
11 Group_11 Edwards Plateau Chert   0
12 Group_12 Edwards Plateau Chert   3
13 Group_2  Edwards Plateau Chert  46
14 Group_4  Edwards Plateau Chert   1
15 Group_5  Edwards Plateau Chert   0
16 Group_6  Edwards Plateau Chert  16
17 Group_7  Edwards Plateau Chert   5
18 Group_8  Edwards Plateau Chert   0
19 Group_10 El Sauz Chert           0
20 Group_11 El Sauz Chert         196
21 Group_12 El Sauz Chert           0
22 Group_2  El Sauz Chert          29
23 Group_4  El Sauz Chert           0
24 Group_5  El Sauz Chert           3
25 Group_6  El Sauz Chert          18
26 Group_7  El Sauz Chert           5
27 Group_8  El Sauz Chert          24
28 Group_10 Knife River Flint       1
29 Group_11 Knife River Flint       0
30 Group_12 Knife River Flint       1
31 Group_2  Knife River Flint       5
32 Group_4  Knife River Flint       0
33 Group_5  Knife River Flint       0
34 Group_6  Knife River Flint       2
35 Group_7  Knife River Flint       3
36 Group_8  Knife River Flint       0
37 Group_10 Oman Chert              0
38 Group_11 Oman Chert              0
39 Group_12 Oman Chert              0
40 Group_2  Oman Chert              1
41 Group_4  Oman Chert              0
42 Group_5  Oman Chert             11
43 Group_6  Oman Chert              8
44 Group_7  Oman Chert              1
45 Group_8  Oman Chert              0

In [188]:
km_13_art <- km[km$is_known != "Known",c(12,16)]
km_13_art <- ftable(km_13_art[])
km_13_art <- as.data.frame(km_13_art)
km_13_art

    X13      vis               Freq
1   Group_1  Agate               0
2   Group_10 Agate               0
3   Group_11 Agate               0
4   Group_12 Agate               0
5   Group_13 Agate               0
6   Group_2  Agate              45
7   Group_3  Agate               0
8   Group_4  Agate               0
9   Group_5  Agate               0
10  Group_6  Agate               3
11  Group_7  Agate               1
12  Group_8  Agate               1
13  Group_9  Agate               0
14  Group_1  Alibates            0
15  Group_10 Alibates            0
16  Group_11 Alibates            0
17  Group_12 Alibates            0
18  Group_13 Alibates            0
19  Group_2  Alibates            3
20  Group_3  Alibates            0
21  Group_4  Alibates            0
22  Group_5  Alibates            0
23  Group_6  Alibates            0
24  Group_7  Alibates            0
25  Group_8  Alibates            0
26  Group_9  Alibates            0
27  Group_1  Black Cherts        0
28  Group_10 Black Cherts        1
29  Group_11 Black Cherts        0
30  Group_12 Black Cherts        0
31  Group_13 Black Cherts        0
32  Group_2  Black Cherts        6
33  Group_3  Black Cherts        1
34  Group_4  Black Cherts        0
35  Group_5  Black Cherts        1
36  Group_6  Black Cherts        4
37  Group_7  Black Cherts        1
38  Group_8  Black Cherts        0
39  Group_9  Black Cherts        0
40  Group_1  Black Metamorphic   0
41  Group_10 Black Metamorphic   1
42  Group_11 Black Metamorphic   0
43  Group_12 Black Metamorphic   3
44  Group_13 Black Metamorphic   0
45  Group_2  Black Metamorphic  17
46  Group_3  Black Metamorphic   0
47  Group_4  Black Metamorphic   0
48  Group_5  Black Metamorphic   6
49  Group_6  Black Metamorphic  11
50  Group_7  Black Metamorphic  12
51  Group_8  Black Metamorphic   0
52  Group_9  Black Metamorphic   0
53  Group_1  El Sauz Chert       0
54  Group_10 El Sauz Chert       0
55  Group_11 El Sauz Chert      31
56  Group_12 El Sauz Chert       0
57  Group_13 El Sauz Chert       0
58  Group_2  El Sauz Chert       9
59  Group_3  El Sauz Chert       3
60  Group_4  El Sauz Chert       0
61  Group_5  El Sauz Chert       0
62  Group_6  El Sauz Chert       5
63  Group_7  El Sauz Chert       1
64  Group_8  El Sauz Chert       4
65  Group_9  El Sauz Chert       0
66  Group_1  Gravel Cherts       1
67  Group_10 Gravel Cherts       3
68  Group_11 Gravel Cherts       2
69  Group_12 Gravel Cherts       8
70  Group_13 Gravel Cherts       0
71  Group_2  Gravel Cherts     437
72  Group_3  Gravel Cherts       1
73  Group_4  Gravel Cherts       3
74  Group_5  Gravel Cherts       1
75  Group_6  Gravel Cherts      58
76  Group_7  Gravel Cherts      16
77  Group_8  Gravel Cherts       0
78  Group_9  Gravel Cherts       0
79  Group_1  Limestone           0
80  Group_10 Limestone           4
81  Group_11 Limestone           0
82  Group_12 Limestone           0
83  Group_13 Limestone           1
84  Group_2  Limestone           3
85  Group_3  Limestone           0
86  Group_4  Limestone           4
87  Group_5  Limestone           0
88  Group_6  Limestone           4
89  Group_7  Limestone           5
90  Group_8  Limestone           0
91  Group_9  Limestone           0
92  Group_1  Silicified Wood     1
93  Group_10 Silicified Wood     2
94  Group_11 Silicified Wood     0
95  Group_12 Silicified Wood     5
96  Group_13 Silicified Wood     0
97  Group_2  Silicified Wood     8
98  Group_3  Silicified Wood     0
99  Group_4  Silicified Wood     4
100 Group_5  Silicified Wood     2
101 Group_6  Silicified Wood     3
102 Group_7  Silicified Wood    10
103 Group_8  Silicified Wood     0
104 Group_9  Silicified Wood     0
105 Group_1  Undiff. igneous     1
106 Group_10 Undiff. igneous     6
107 Group_11 Undiff. igneous     1
108 Group_12 Undiff. igneous     6
109 Group_13 Undiff. igneous     0
110 Group_2  Undiff. igneous     3
111 Group_3  Undiff. igneous     0
112 Group_4  Undiff. igneous     3
113 Group_5  Undiff. igneous     0
114 Group_6  Undiff. igneous     4
115 Group_7  Undiff. igneous     5
116 Group_8  Undiff. igneous     0
117 Group_9  Undiff. igneous     2
118 Group_1  Unk                 0
119 Group_10 Unk                 4
120 Group_11 Unk                 1
121 Group_12 Unk                 2
122 Group_13 Unk                 0
123 Group_2  Unk                18
124 Group_3  Unk                 1
125 Group_4  Unk                 0
126 Group_5  Unk                 0
127 Group_6  Unk                 4
128 Group_7  Unk                 2
129 Group_8  Unk                 0
130 Group_9  Unk                 0

In [81]:
# this one is better, but 34 ESC are still with the rest
# ESC = 187, Oman = 11

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

km_14_raw <- km[km$is_known == "Known",c(13,16)]
km_14_raw <- ftable(km_14_raw[])
km_14_raw <- as.data.frame(km_14_raw)
km_14_raw

   X14      vis                   Freq
1  Group_10 Alibates                0
2  Group_11 Alibates                0
3  Group_12 Alibates                0
4  Group_14 Alibates                0
5  Group_2  Alibates               14
6  Group_4  Alibates                0
7  Group_5  Alibates                0
8  Group_6  Alibates                7
9  Group_7  Alibates                2
10 Group_8  Alibates                0
11 Group_10 Edwards Plateau Chert   2
12 Group_11 Edwards Plateau Chert   0
13 Group_12 Edwards Plateau Chert   4
14 Group_14 Edwards Plateau Chert   1
15 Group_2  Edwards Plateau Chert  40
16 Group_4  Edwards Plateau Chert   1
17 Group_5  Edwards Plateau Chert   0
18 Group_6  Edwards Plateau Chert  17
19 Group_7  Edwards Plateau Chert   7
20 Group_8  Edwards Plateau Chert   0
21 Group_10 El Sauz Chert           0
22 Group_11 El Sauz Chert         187
23 Group_12 El Sauz Chert           3
24 Group_14 El Sauz Chert           0
25 Group_2  El Sauz Chert          34
26 Group_4  El Sauz Chert           0
27 Group_5  El Sauz Chert           1
28 Group_6  El Sauz Chert          14
29 Group_7  El Sauz Chert          12
30 Group_8  El Sauz Chert          24
31 Group_10 Knife River Flint       1
32 Group_11 Knife River Flint       0
33 Group_12 Knife River Flint       1
34 Group_14 Knife River Flint       0
35 Group_2  Knife River Flint       4
36 Group_4  Knife River Flint       1
37 Group_5  Knife River Flint       0
38 Group_6  Knife River Flint       2
39 Group_7  Knife River Flint       3
40 Group_8  Knife River Flint       0
41 Group_10 Oman Chert              0
42 Group_11 Oman Chert              0
43 Group_12 Oman Chert              1
44 Group_14 Oman Chert              0
45 Group_2  Oman Chert              1
46 Group_4  Oman Chert              0
47 Group_5  Oman Chert             11
48 Group_6  Oman Chert              6
49 Group_7  Oman Chert              2
50 Group_8  Oman Chert              0

In [82]:
# this one is better, but 36 ESC are still with the rest
# ESC = 185, Oman = 11

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

km_15_raw <- km[km$is_known == "Known",c(14,16)]
km_15_raw <- ftable(km_15_raw[])
km_15_raw <- as.data.frame(km_15_raw)
km_15_raw

   X15      vis                   Freq
1  Group_10 Alibates                0
2  Group_11 Alibates                0
3  Group_12 Alibates                0
4  Group_14 Alibates                0
5  Group_15 Alibates                4
6  Group_2  Alibates               14
7  Group_4  Alibates                0
8  Group_5  Alibates                0
9  Group_6  Alibates                4
10 Group_7  Alibates                1
11 Group_8  Alibates                0
12 Group_10 Edwards Plateau Chert   2
13 Group_11 Edwards Plateau Chert   0
14 Group_12 Edwards Plateau Chert   4
15 Group_14 Edwards Plateau Chert   1
16 Group_15 Edwards Plateau Chert  11
17 Group_2  Edwards Plateau Chert  34
18 Group_4  Edwards Plateau Chert   1
19 Group_5  Edwards Plateau Chert   0
20 Group_6  Edwards Plateau Chert  16
21 Group_7  Edwards Plateau Chert   3
22 Group_8  Edwards Plateau Chert   0
23 Group_10 El Sauz Chert           0
24 Group_11 El Sauz Chert         185
25 Group_12 El Sauz Chert           3
26 Group_14 El Sauz Chert           0
27 Group_15 El Sauz Chert          17
28 Group_2  El Sauz Chert          36
29 Group_4  El Sauz Chert           0
30 Group_5  El Sauz Chert           1
31 Group_6  El Sauz Chert           6
32 Group_7  El Sauz Chert           3
33 Group_8  El Sauz Chert          24
34 Group_10 Knife River Flint       1
35 Group_11 Knife River Flint       0
36 Group_12 Knife River Flint       0
37 Group_14 Knife River Flint       0
38 Group_15 Knife River Flint       2
39 Group_2  Knife River Flint       4
40 Group_4  Knife River Flint       1
41 Group_5  Knife River Flint       0
42 Group_6  Knife River Flint       1
43 Group_7  Knife River Flint       3
44 Group_8  Knife River Flint       0
45 Group_10 Oman Chert              0
46 Group_11 Oman Chert              0
47 Group_12 Oman Chert              1
48 Group_14 Oman Chert              0
49 Group_15 Oman Chert              4
50 Group_2  Oman Chert              1
51 Group_4  Oman Chert              0
52 Group_5  Oman Chert             11
53 Group_6  Oman Chert              4
54 Group_7  Oman Chert              0
55 Group_8  Oman Chert              0

In [88]:
# this one puts 16 ESC with the rest, but it sorts out oman better than the previous option
# ESC = 235, Oman = 17

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

pam_7_raw <- pam[pam$is_known == "Known",c(6,16)]
pam_7_raw <- ftable(pam_7_raw[])
pam_7_raw <- as.data.frame(pam_7_raw)
pam_7_raw

   X7      vis                   Freq
1  Group_1 Alibates                0
2  Group_2 Alibates               15
3  Group_3 Alibates                0
4  Group_4 Alibates                8
5  Group_5 Alibates                0
6  Group_1 Edwards Plateau Chert   0
7  Group_2 Edwards Plateau Chert  45
8  Group_3 Edwards Plateau Chert   2
9  Group_4 Edwards Plateau Chert  19
10 Group_5 Edwards Plateau Chert   6
11 Group_1 El Sauz Chert         235
12 Group_2 El Sauz Chert          16
13 Group_3 El Sauz Chert           0
14 Group_4 El Sauz Chert          20
15 Group_5 El Sauz Chert           4
16 Group_1 Knife River Flint       0
17 Group_2 Knife River Flint       5
18 Group_3 Knife River Flint       1
19 Group_4 Knife River Flint       3
20 Group_5 Knife River Flint       3
21 Group_1 Oman Chert              0
22 Group_2 Oman Chert              1
23 Group_3 Oman Chert              0
24 Group_4 Oman Chert             17
25 Group_5 Oman Chert              3

In [89]:
# this one puts 16 ESC with the rest, and it sorts out oman better than pam_6
# ESC = 235, Oman = 19

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

pam_8_raw <- pam[pam$is_known == "Known",c(7,16)]
pam_8_raw <- ftable(pam_8_raw[])
pam_8_raw <- as.data.frame(pam_8_raw)
pam_8_raw

   X8      vis                   Freq
1  Group_1 Alibates                0
2  Group_2 Alibates               15
3  Group_3 Alibates                0
4  Group_4 Alibates                1
5  Group_5 Alibates                7
6  Group_6 Alibates                0
7  Group_1 Edwards Plateau Chert   0
8  Group_2 Edwards Plateau Chert  45
9  Group_3 Edwards Plateau Chert   1
10 Group_4 Edwards Plateau Chert   6
11 Group_5 Edwards Plateau Chert  16
12 Group_6 Edwards Plateau Chert   4
13 Group_1 El Sauz Chert         235
14 Group_2 El Sauz Chert          16
15 Group_3 El Sauz Chert           0
16 Group_4 El Sauz Chert           6
17 Group_5 El Sauz Chert          18
18 Group_6 El Sauz Chert           0
19 Group_1 Knife River Flint       0
20 Group_2 Knife River Flint       5
21 Group_3 Knife River Flint       0
22 Group_4 Knife River Flint       3
23 Group_5 Knife River Flint       2
24 Group_6 Knife River Flint       2
25 Group_1 Oman Chert              0
26 Group_2 Oman Chert              1
27 Group_3 Oman Chert              0
28 Group_4 Oman Chert              1
29 Group_5 Oman Chert             19
30 Group_6 Oman Chert              0

In [90]:
# this one puts 16 ESC with the rest, and it sorts out oman better than pam_6
# ESC = 235, Oman = 19

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

pam_9_raw <- pam[pam$is_known == "Known",c(8,16)]
pam_9_raw <- ftable(pam_9_raw[])
pam_9_raw <- as.data.frame(pam_9_raw)
pam_9_raw

   X9      vis                   Freq
1  Group_1 Alibates                0
2  Group_2 Alibates               15
3  Group_3 Alibates                0
4  Group_4 Alibates                1
5  Group_5 Alibates                7
6  Group_6 Alibates                0
7  Group_1 Edwards Plateau Chert   0
8  Group_2 Edwards Plateau Chert  45
9  Group_3 Edwards Plateau Chert   1
10 Group_4 Edwards Plateau Chert   6
11 Group_5 Edwards Plateau Chert  16
12 Group_6 Edwards Plateau Chert   4
13 Group_1 El Sauz Chert         235
14 Group_2 El Sauz Chert          16
15 Group_3 El Sauz Chert           0
16 Group_4 El Sauz Chert           6
17 Group_5 El Sauz Chert          18
18 Group_6 El Sauz Chert           0
19 Group_1 Knife River Flint       0
20 Group_2 Knife River Flint       5
21 Group_3 Knife River Flint       0
22 Group_4 Knife River Flint       3
23 Group_5 Knife River Flint       2
24 Group_6 Knife River Flint       2
25 Group_1 Oman Chert              0
26 Group_2 Oman Chert              1
27 Group_3 Oman Chert              0
28 Group_4 Oman Chert              1
29 Group_5 Oman Chert             19
30 Group_6 Oman Chert              0

In [91]:
# this one puts 16 ESC with the rest, and it sorts out oman better than pam_6
# ESC = 235, Oman = 19

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

pam_10_raw <- pam[pam$is_known == "Known",c(9,16)]
pam_10_raw <- ftable(pam_10_raw[])
pam_10_raw <- as.data.frame(pam_10_raw)
pam_10_raw

   X10     vis                   Freq
1  Group_1 Alibates                0
2  Group_2 Alibates               15
3  Group_3 Alibates                0
4  Group_4 Alibates                1
5  Group_5 Alibates                7
6  Group_8 Alibates                0
7  Group_1 Edwards Plateau Chert   0
8  Group_2 Edwards Plateau Chert  45
9  Group_3 Edwards Plateau Chert   1
10 Group_4 Edwards Plateau Chert   6
11 Group_5 Edwards Plateau Chert  16
12 Group_8 Edwards Plateau Chert   4
13 Group_1 El Sauz Chert         235
14 Group_2 El Sauz Chert          16
15 Group_3 El Sauz Chert           0
16 Group_4 El Sauz Chert           6
17 Group_5 El Sauz Chert          18
18 Group_8 El Sauz Chert           0
19 Group_1 Knife River Flint       0
20 Group_2 Knife River Flint       5
21 Group_3 Knife River Flint       0
22 Group_4 Knife River Flint       3
23 Group_5 Knife River Flint       2
24 Group_8 Knife River Flint       2
25 Group_1 Oman Chert              0
26 Group_2 Oman Chert              1
27 Group_3 Oman Chert              0
28 Group_4 Oman Chert              1
29 Group_5 Oman Chert             19
30 Group_8 Oman Chert              0

In [92]:
# this one puts 16 ESC with the rest, and it sorts out oman better than pam_6
# ESC = 211, Oman = 19

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

pam_11_raw <- pam[pam$is_known == "Known",c(10,16)]
pam_11_raw <- ftable(pam_11_raw[])
pam_11_raw <- as.data.frame(pam_11_raw)
pam_11_raw

   X11     vis                   Freq
1  Group_1 Alibates                0
2  Group_2 Alibates               15
3  Group_3 Alibates                0
4  Group_4 Alibates                0
5  Group_5 Alibates                1
6  Group_6 Alibates                7
7  Group_9 Alibates                0
8  Group_1 Edwards Plateau Chert   0
9  Group_2 Edwards Plateau Chert  45
10 Group_3 Edwards Plateau Chert   0
11 Group_4 Edwards Plateau Chert   1
12 Group_5 Edwards Plateau Chert   6
13 Group_6 Edwards Plateau Chert  16
14 Group_9 Edwards Plateau Chert   4
15 Group_1 El Sauz Chert          24
16 Group_2 El Sauz Chert          16
17 Group_3 El Sauz Chert         211
18 Group_4 El Sauz Chert           0
19 Group_5 El Sauz Chert           6
20 Group_6 El Sauz Chert          18
21 Group_9 El Sauz Chert           0
22 Group_1 Knife River Flint       0
23 Group_2 Knife River Flint       5
24 Group_3 Knife River Flint       0
25 Group_4 Knife River Flint       0
26 Group_5 Knife River Flint       3
27 Group_6 Knife River Flint       2
28 Group_9 Knife River Flint       2
29 Group_1 Oman Chert              0
30 Group_2 Oman Chert              1
31 Group_3 Oman Chert              0
32 Group_4 Oman Chert              0
33 Group_5 Oman Chert              1
34 Group_6 Oman Chert             19
35 Group_9 Oman Chert              0

In [93]:
# this one puts 14 ESC with the rest, and it sorts out oman better than pam_6
# ESC = 213, Oman = 17

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

pam_12_raw <- pam[pam$is_known == "Known",c(11,16)]
pam_12_raw <- ftable(pam_12_raw[])
pam_12_raw <- as.data.frame(pam_12_raw)
pam_12_raw

   X12      vis                   Freq
1  Group_1  Alibates                0
2  Group_10 Alibates                0
3  Group_2  Alibates               14
4  Group_3  Alibates                0
5  Group_4  Alibates                0
6  Group_5  Alibates                6
7  Group_6  Alibates                2
8  Group_8  Alibates                1
9  Group_1  Edwards Plateau Chert   0
10 Group_10 Edwards Plateau Chert   4
11 Group_2  Edwards Plateau Chert  34
12 Group_3  Edwards Plateau Chert   0
13 Group_4  Edwards Plateau Chert   1
14 Group_5  Edwards Plateau Chert  22
15 Group_6  Edwards Plateau Chert   6
16 Group_8  Edwards Plateau Chert   5
17 Group_1  El Sauz Chert          24
18 Group_10 El Sauz Chert           0
19 Group_2  El Sauz Chert          14
20 Group_3  El Sauz Chert         213
21 Group_4  El Sauz Chert           0
22 Group_5  El Sauz Chert           6
23 Group_6  El Sauz Chert          13
24 Group_8  El Sauz Chert           5
25 Group_1  Knife River Flint       0
26 Group_10 Knife River Flint       2
27 Group_2  Knife River Flint       4
28 Group_3  Knife River Flint       0
29 Group_4  Knife River Flint       0
30 Group_5  Knife River Flint       2
31 Group_6  Knife River Flint       1
32 Group_8  Knife River Flint       3
33 Group_1  Oman Chert              0
34 Group_10 Oman Chert              0
35 Group_2  Oman Chert              1
36 Group_3  Oman Chert              0
37 Group_4  Oman Chert              0
38 Group_5  Oman Chert              2
39 Group_6  Oman Chert             17
40 Group_8  Oman Chert              1

In [94]:
# this one puts 17 ESC with the rest, and it sorts out oman better than the previous few options
# ESC = 205, Oman = 13

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

pam_13_raw <- pam[pam$is_known == "Known",c(12,16)]
pam_13_raw <- ftable(pam_13_raw[])
pam_13_raw <- as.data.frame(pam_13_raw)
pam_13_raw

   X13      vis                   Freq
1  Group_1  Alibates                0
2  Group_11 Alibates                0
3  Group_2  Alibates               12
4  Group_3  Alibates                0
5  Group_4  Alibates                0
6  Group_5  Alibates                6
7  Group_6  Alibates                4
8  Group_7  Alibates                0
9  Group_9  Alibates                1
10 Group_1  Edwards Plateau Chert   0
11 Group_11 Edwards Plateau Chert   4
12 Group_2  Edwards Plateau Chert  28
13 Group_3  Edwards Plateau Chert   0
14 Group_4  Edwards Plateau Chert   1
15 Group_5  Edwards Plateau Chert  21
16 Group_6  Edwards Plateau Chert  13
17 Group_7  Edwards Plateau Chert   0
18 Group_9  Edwards Plateau Chert   5
19 Group_1  El Sauz Chert          24
20 Group_11 El Sauz Chert           0
21 Group_2  El Sauz Chert          17
22 Group_3  El Sauz Chert         205
23 Group_4  El Sauz Chert           0
24 Group_5  El Sauz Chert           2
25 Group_6  El Sauz Chert          18
26 Group_7  El Sauz Chert           4
27 Group_9  El Sauz Chert           5
28 Group_1  Knife River Flint       0
29 Group_11 Knife River Flint       2
30 Group_2  Knife River Flint       4
31 Group_3  Knife River Flint       0
32 Group_4  Knife River Flint       0
33 Group_5  Knife River Flint       1
34 Group_6  Knife River Flint       2
35 Group_7  Knife River Flint       0
36 Group_9  Knife River Flint       3
37 Group_1  Oman Chert              0
38 Group_11 Oman Chert              0
39 Group_2  Oman Chert              1
40 Group_3  Oman Chert              0
41 Group_4  Oman Chert              0
42 Group_5  Oman Chert              4
43 Group_6  Oman Chert              2
44 Group_7  Oman Chert             13
45 Group_9  Oman Chert              1

In [95]:
# this one puts 36 ESC with the rest, and it sorts out oman better than pam_6
# ESC = 205, Oman = 13

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

pam_14_raw <- pam[pam$is_known == "Known",c(13,16)]
pam_14_raw <- ftable(pam_14_raw[])
pam_14_raw <- as.data.frame(pam_14_raw)
pam_14_raw

   X14      vis                   Freq
1  Group_1  Alibates                0
2  Group_10 Alibates                0
3  Group_12 Alibates                0
4  Group_2  Alibates               12
5  Group_3  Alibates                0
6  Group_4  Alibates                0
7  Group_5  Alibates                3
8  Group_6  Alibates                1
9  Group_7  Alibates                0
10 Group_9  Alibates                7
11 Group_1  Edwards Plateau Chert   0
12 Group_10 Edwards Plateau Chert   1
13 Group_12 Edwards Plateau Chert   4
14 Group_2  Edwards Plateau Chert  28
15 Group_3  Edwards Plateau Chert   0
16 Group_4  Edwards Plateau Chert   1
17 Group_5  Edwards Plateau Chert  18
18 Group_6  Edwards Plateau Chert   5
19 Group_7  Edwards Plateau Chert   0
20 Group_9  Edwards Plateau Chert  15
21 Group_1  El Sauz Chert          24
22 Group_10 El Sauz Chert           0
23 Group_12 El Sauz Chert           0
24 Group_2  El Sauz Chert          17
25 Group_3  El Sauz Chert         205
26 Group_4  El Sauz Chert           0
27 Group_5  El Sauz Chert           2
28 Group_6  El Sauz Chert           6
29 Group_7  El Sauz Chert           4
30 Group_9  El Sauz Chert          17
31 Group_1  Knife River Flint       0
32 Group_10 Knife River Flint       1
33 Group_12 Knife River Flint       1
34 Group_2  Knife River Flint       4
35 Group_3  Knife River Flint       0
36 Group_4  Knife River Flint       0
37 Group_5  Knife River Flint       1
38 Group_6  Knife River Flint       3
39 Group_7  Knife River Flint       0
40 Group_9  Knife River Flint       2
41 Group_1  Oman Chert              0
42 Group_10 Oman Chert              0
43 Group_12 Oman Chert              0
44 Group_2  Oman Chert              1
45 Group_3  Oman Chert              0
46 Group_4  Oman Chert              0
47 Group_5  Oman Chert              3
48 Group_6  Oman Chert              1
49 Group_7  Oman Chert             13
50 Group_9  Oman Chert              3

In [96]:
# this one puts 36 ESC with the rest, and it sorts out oman better than pam_6
# ESC = 205, Oman = 13

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

pam_15_raw <- pam[pam$is_known == "Known",c(14,16)]
pam_15_raw <- ftable(pam_15_raw[])
pam_15_raw <- as.data.frame(pam_15_raw)
pam_15_raw

   X15      vis                   Freq
1  Group_1  Alibates                0
2  Group_10 Alibates                0
3  Group_12 Alibates                0
4  Group_2  Alibates               12
5  Group_3  Alibates                0
6  Group_4  Alibates                0
7  Group_5  Alibates                3
8  Group_6  Alibates                1
9  Group_7  Alibates                0
10 Group_9  Alibates                7
11 Group_1  Edwards Plateau Chert   0
12 Group_10 Edwards Plateau Chert   1
13 Group_12 Edwards Plateau Chert   4
14 Group_2  Edwards Plateau Chert  28
15 Group_3  Edwards Plateau Chert   0
16 Group_4  Edwards Plateau Chert   1
17 Group_5  Edwards Plateau Chert  18
18 Group_6  Edwards Plateau Chert   5
19 Group_7  Edwards Plateau Chert   0
20 Group_9  Edwards Plateau Chert  15
21 Group_1  El Sauz Chert          24
22 Group_10 El Sauz Chert           0
23 Group_12 El Sauz Chert           0
24 Group_2  El Sauz Chert          17
25 Group_3  El Sauz Chert         205
26 Group_4  El Sauz Chert           0
27 Group_5  El Sauz Chert           2
28 Group_6  El Sauz Chert           6
29 Group_7  El Sauz Chert           4
30 Group_9  El Sauz Chert          17
31 Group_1  Knife River Flint       0
32 Group_10 Knife River Flint       1
33 Group_12 Knife River Flint       1
34 Group_2  Knife River Flint       4
35 Group_3  Knife River Flint       0
36 Group_4  Knife River Flint       0
37 Group_5  Knife River Flint       1
38 Group_6  Knife River Flint       3
39 Group_7  Knife River Flint       0
40 Group_9  Knife River Flint       2
41 Group_1  Oman Chert              0
42 Group_10 Oman Chert              0
43 Group_12 Oman Chert              0
44 Group_2  Oman Chert              1
45 Group_3  Oman Chert              0
46 Group_4  Oman Chert              0
47 Group_5  Oman Chert              3
48 Group_6  Oman Chert              1
49 Group_7  Oman Chert             13
50 Group_9  Oman Chert              3

In [101]:
# this one is good, it separates both ESC and most of Oman
# ESC = 247, Oman = 15

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

ap_6_raw <- ap[ap$is_known == "Known",c(5,16)]
ap_6_raw <- ftable(ap_6_raw[])
ap_6_raw <- as.data.frame(ap_6_raw)
ap_6_raw

   X6      vis                   Freq
1  Group_1 Alibates                0
2  Group_2 Alibates                5
3  Group_3 Alibates               18
4  Group_4 Alibates                0
5  Group_6 Alibates                0
6  Group_1 Edwards Plateau Chert   0
7  Group_2 Edwards Plateau Chert  14
8  Group_3 Edwards Plateau Chert  50
9  Group_4 Edwards Plateau Chert   6
10 Group_6 Edwards Plateau Chert   2
11 Group_1 El Sauz Chert         247
12 Group_2 El Sauz Chert          13
13 Group_3 El Sauz Chert          12
14 Group_4 El Sauz Chert           3
15 Group_6 El Sauz Chert           0
16 Group_1 Knife River Flint       0
17 Group_2 Knife River Flint       5
18 Group_3 Knife River Flint       5
19 Group_4 Knife River Flint       2
20 Group_6 Knife River Flint       0
21 Group_1 Oman Chert              0
22 Group_2 Oman Chert             15
23 Group_3 Oman Chert              6
24 Group_4 Oman Chert              0
25 Group_6 Oman Chert              0

In [102]:
# this one is good, it separates both ESC and most of Oman
# ESC = 248, Oman = 14

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

ap_7_raw <- ap[ap$is_known == "Known",c(6,16)]
ap_7_raw <- ftable(ap_7_raw[])
ap_7_raw <- as.data.frame(ap_7_raw)
ap_7_raw

   X7      vis                   Freq
1  Group_1 Alibates                0
2  Group_3 Alibates                0
3  Group_4 Alibates                0
4  Group_5 Alibates               20
5  Group_6 Alibates                3
6  Group_1 Edwards Plateau Chert   0
7  Group_3 Edwards Plateau Chert   5
8  Group_4 Edwards Plateau Chert   1
9  Group_5 Edwards Plateau Chert  53
10 Group_6 Edwards Plateau Chert  13
11 Group_1 El Sauz Chert         248
12 Group_3 El Sauz Chert           1
13 Group_4 El Sauz Chert           0
14 Group_5 El Sauz Chert          12
15 Group_6 El Sauz Chert          14
16 Group_1 Knife River Flint       0
17 Group_3 Knife River Flint       2
18 Group_4 Knife River Flint       0
19 Group_5 Knife River Flint       6
20 Group_6 Knife River Flint       4
21 Group_1 Oman Chert              0
22 Group_3 Oman Chert              0
23 Group_4 Oman Chert              0
24 Group_5 Oman Chert              7
25 Group_6 Oman Chert             14

In [103]:
# this one is good, it separates both ESC and most of Oman
# ESC = 240, Oman = 14

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

ap_8_raw <- ap[ap$is_known == "Known",c(7,16)]
ap_8_raw <- ftable(ap_8_raw[])
ap_8_raw <- as.data.frame(ap_8_raw)
ap_8_raw

   X8      vis                   Freq
1  Group_1 Alibates                0
2  Group_3 Alibates                2
3  Group_4 Alibates                0
4  Group_6 Alibates                7
5  Group_7 Alibates                0
6  Group_8 Alibates               14
7  Group_1 Edwards Plateau Chert   0
8  Group_3 Edwards Plateau Chert   9
9  Group_4 Edwards Plateau Chert   5
10 Group_6 Edwards Plateau Chert  22
11 Group_7 Edwards Plateau Chert   1
12 Group_8 Edwards Plateau Chert  35
13 Group_1 El Sauz Chert         240
14 Group_3 El Sauz Chert          14
15 Group_4 El Sauz Chert           1
16 Group_6 El Sauz Chert           6
17 Group_7 El Sauz Chert           0
18 Group_8 El Sauz Chert          14
19 Group_1 Knife River Flint       0
20 Group_3 Knife River Flint       4
21 Group_4 Knife River Flint       2
22 Group_6 Knife River Flint       2
23 Group_7 Knife River Flint       0
24 Group_8 Knife River Flint       4
25 Group_1 Oman Chert              0
26 Group_3 Oman Chert             14
27 Group_4 Oman Chert              0
28 Group_6 Oman Chert              6
29 Group_7 Oman Chert              0
30 Group_8 Oman Chert              1

In [104]:
# this one is good, it separates both ESC and most of Oman
# ESC = 235, Oman = 18

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

ap_9_raw <- ap[ap$is_known == "Known",c(8,16)]
ap_9_raw <- ftable(ap_9_raw[])
ap_9_raw <- as.data.frame(ap_9_raw)
ap_9_raw

   X9      vis                   Freq
1  Group_1 Alibates                7
2  Group_2 Alibates                0
3  Group_4 Alibates                0
4  Group_6 Alibates               15
5  Group_7 Alibates                0
6  Group_9 Alibates                1
7  Group_1 Edwards Plateau Chert  17
8  Group_2 Edwards Plateau Chert   0
9  Group_4 Edwards Plateau Chert   2
10 Group_6 Edwards Plateau Chert  45
11 Group_7 Edwards Plateau Chert   1
12 Group_9 Edwards Plateau Chert   7
13 Group_1 El Sauz Chert          19
14 Group_2 El Sauz Chert         235
15 Group_4 El Sauz Chert           0
16 Group_6 El Sauz Chert          16
17 Group_7 El Sauz Chert           0
18 Group_9 El Sauz Chert           5
19 Group_1 Knife River Flint       2
20 Group_2 Knife River Flint       0
21 Group_4 Knife River Flint       1
22 Group_6 Knife River Flint       5
23 Group_7 Knife River Flint       0
24 Group_9 Knife River Flint       4
25 Group_1 Oman Chert             18
26 Group_2 Oman Chert              0
27 Group_4 Oman Chert              0
28 Group_6 Oman Chert              1
29 Group_7 Oman Chert              0
30 Group_9 Oman Chert              2

In [105]:
# this one is good, it separates both ESC and most of Oman
# ESC = 235, Oman = 17

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

ap_10_raw <- ap[ap$is_known == "Known",c(9,16)]
ap_10_raw <- ftable(ap_10_raw[])
ap_10_raw <- as.data.frame(ap_10_raw)
ap_10_raw

   X10     vis                   Freq
1  Group_1 Alibates                7
2  Group_2 Alibates                0
3  Group_3 Alibates                1
4  Group_5 Alibates                0
5  Group_7 Alibates                0
6  Group_8 Alibates               15
7  Group_9 Alibates                0
8  Group_1 Edwards Plateau Chert  17
9  Group_2 Edwards Plateau Chert   0
10 Group_3 Edwards Plateau Chert   5
11 Group_5 Edwards Plateau Chert   1
12 Group_7 Edwards Plateau Chert   3
13 Group_8 Edwards Plateau Chert  45
14 Group_9 Edwards Plateau Chert   1
15 Group_1 El Sauz Chert          18
16 Group_2 El Sauz Chert         235
17 Group_3 El Sauz Chert           6
18 Group_5 El Sauz Chert           0
19 Group_7 El Sauz Chert           0
20 Group_8 El Sauz Chert          16
21 Group_9 El Sauz Chert           0
22 Group_1 Knife River Flint       2
23 Group_2 Knife River Flint       0
24 Group_3 Knife River Flint       3
25 Group_5 Knife River Flint       1
26 Group_7 Knife River Flint       1
27 Group_8 Knife River Flint       5
28 Group_9 Knife River Flint       0
29 Group_1 Oman Chert             17
30 Group_2 Oman Chert              0
31 Group_3 Oman Chert              3
32 Group_5 Oman Chert              0
33 Group_7 Oman Chert              0
34 Group_8 Oman Chert              1
35 Group_9 Oman Chert              0

In [106]:
# this one is good, it separates both ESC and most of Oman
# ESC = 235, Oman = 17

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

ap_11_raw <- ap[ap$is_known == "Known",c(10,16)]
ap_11_raw <- ftable(ap_11_raw[])
ap_11_raw <- as.data.frame(ap_11_raw)
ap_11_raw

   X11     vis                   Freq
1  Group_1 Alibates                7
2  Group_2 Alibates                0
3  Group_3 Alibates                1
4  Group_5 Alibates                0
5  Group_7 Alibates                0
6  Group_8 Alibates               15
7  Group_9 Alibates                0
8  Group_1 Edwards Plateau Chert  17
9  Group_2 Edwards Plateau Chert   0
10 Group_3 Edwards Plateau Chert   5
11 Group_5 Edwards Plateau Chert   1
12 Group_7 Edwards Plateau Chert   3
13 Group_8 Edwards Plateau Chert  45
14 Group_9 Edwards Plateau Chert   1
15 Group_1 El Sauz Chert          18
16 Group_2 El Sauz Chert         235
17 Group_3 El Sauz Chert           6
18 Group_5 El Sauz Chert           0
19 Group_7 El Sauz Chert           0
20 Group_8 El Sauz Chert          16
21 Group_9 El Sauz Chert           0
22 Group_1 Knife River Flint       2
23 Group_2 Knife River Flint       0
24 Group_3 Knife River Flint       3
25 Group_5 Knife River Flint       1
26 Group_7 Knife River Flint       1
27 Group_8 Knife River Flint       5
28 Group_9 Knife River Flint       0
29 Group_1 Oman Chert             17
30 Group_2 Oman Chert              0
31 Group_3 Oman Chert              3
32 Group_5 Oman Chert              0
33 Group_7 Oman Chert              0
34 Group_8 Oman Chert              1
35 Group_9 Oman Chert              0

In [107]:
# this one is good, it separates both ESC and most of Oman
# ESC = 194 & 50, Oman = 16

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

ap_12_raw <- ap[ap$is_known == "Known",c(11,16)]
ap_12_raw <- ftable(ap_12_raw[])
ap_12_raw <- as.data.frame(ap_12_raw)
ap_12_raw

   X12      vis                   Freq
1  Group_1  Alibates                1
2  Group_10 Alibates                0
3  Group_11 Alibates               14
4  Group_3  Alibates                0
5  Group_5  Alibates                0
6  Group_6  Alibates                0
7  Group_7  Alibates                0
8  Group_9  Alibates                8
9  Group_1  Edwards Plateau Chert   5
10 Group_10 Edwards Plateau Chert   0
11 Group_11 Edwards Plateau Chert  35
12 Group_3  Edwards Plateau Chert   1
13 Group_5  Edwards Plateau Chert   0
14 Group_6  Edwards Plateau Chert   5
15 Group_7  Edwards Plateau Chert   1
16 Group_9  Edwards Plateau Chert  25
17 Group_1  El Sauz Chert           7
18 Group_10 El Sauz Chert         194
19 Group_11 El Sauz Chert           7
20 Group_3  El Sauz Chert           0
21 Group_5  El Sauz Chert          50
22 Group_6  El Sauz Chert           1
23 Group_7  El Sauz Chert           0
24 Group_9  El Sauz Chert          16
25 Group_1  Knife River Flint       4
26 Group_10 Knife River Flint       0
27 Group_11 Knife River Flint       4
28 Group_3  Knife River Flint       1
29 Group_5  Knife River Flint       0
30 Group_6  Knife River Flint       1
31 Group_7  Knife River Flint       0
32 Group_9  Knife River Flint       2
33 Group_1  Oman Chert              4
34 Group_10 Oman Chert              0
35 Group_11 Oman Chert              1
36 Group_3  Oman Chert              0
37 Group_5  Oman Chert              0
38 Group_6  Oman Chert              0
39 Group_7  Oman Chert              0
40 Group_9  Oman Chert             16

In [108]:
# this one is good, it separates both ESC and most of Oman
# ESC = 205, Oman = 13

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

ap_13_raw <- ap[ap$is_known == "Known",c(12,16)]
ap_13_raw <- ftable(ap_13_raw[])
ap_13_raw <- as.data.frame(ap_13_raw)
ap_13_raw

   X13      vis                   Freq
1  Group_1  Alibates                0
2  Group_10 Alibates                0
3  Group_11 Alibates                3
4  Group_12 Alibates                0
5  Group_14 Alibates                0
6  Group_2  Alibates               12
7  Group_4  Alibates                0
8  Group_6  Alibates                0
9  Group_7  Alibates                0
10 Group_8  Alibates                8
11 Group_1  Edwards Plateau Chert   0
12 Group_10 Edwards Plateau Chert   3
13 Group_11 Edwards Plateau Chert  12
14 Group_12 Edwards Plateau Chert   1
15 Group_14 Edwards Plateau Chert   3
16 Group_2  Edwards Plateau Chert  32
17 Group_4  Edwards Plateau Chert   0
18 Group_6  Edwards Plateau Chert   1
19 Group_7  Edwards Plateau Chert   0
20 Group_8  Edwards Plateau Chert  20
21 Group_1  El Sauz Chert          24
22 Group_10 El Sauz Chert           0
23 Group_11 El Sauz Chert          18
24 Group_12 El Sauz Chert           0
25 Group_14 El Sauz Chert           3
26 Group_2  El Sauz Chert          17
27 Group_4  El Sauz Chert         205
28 Group_6  El Sauz Chert           0
29 Group_7  El Sauz Chert           4
30 Group_8  El Sauz Chert           4
31 Group_1  Knife River Flint       0
32 Group_10 Knife River Flint       1
33 Group_11 Knife River Flint       2
34 Group_12 Knife River Flint       0
35 Group_14 Knife River Flint       2
36 Group_2  Knife River Flint       4
37 Group_4  Knife River Flint       0
38 Group_6  Knife River Flint       1
39 Group_7  Knife River Flint       0
40 Group_8  Knife River Flint       2
41 Group_1  Oman Chert              0
42 Group_10 Oman Chert              0
43 Group_11 Oman Chert              1
44 Group_12 Oman Chert              0
45 Group_14 Oman Chert              1
46 Group_2  Oman Chert              1
47 Group_4  Oman Chert              0
48 Group_6  Oman Chert              0
49 Group_7  Oman Chert             13
50 Group_8  Oman Chert              5

In [109]:
# this one is good, it separates both ESC and most of Oman
# ESC = 205, Oman = 13

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

ap_14_raw <- ap[ap$is_known == "Known",c(13,16)]
ap_14_raw <- ftable(ap_14_raw[])
ap_14_raw <- as.data.frame(ap_14_raw)
ap_14_raw

   X14      vis                   Freq
1  Group_1  Alibates                0
2  Group_10 Alibates                0
3  Group_11 Alibates                3
4  Group_12 Alibates                0
5  Group_14 Alibates                0
6  Group_2  Alibates               12
7  Group_4  Alibates                0
8  Group_6  Alibates                0
9  Group_7  Alibates                0
10 Group_8  Alibates                8
11 Group_1  Edwards Plateau Chert   0
12 Group_10 Edwards Plateau Chert   3
13 Group_11 Edwards Plateau Chert  12
14 Group_12 Edwards Plateau Chert   1
15 Group_14 Edwards Plateau Chert   3
16 Group_2  Edwards Plateau Chert  32
17 Group_4  Edwards Plateau Chert   0
18 Group_6  Edwards Plateau Chert   1
19 Group_7  Edwards Plateau Chert   0
20 Group_8  Edwards Plateau Chert  20
21 Group_1  El Sauz Chert          24
22 Group_10 El Sauz Chert           0
23 Group_11 El Sauz Chert          18
24 Group_12 El Sauz Chert           0
25 Group_14 El Sauz Chert           3
26 Group_2  El Sauz Chert          17
27 Group_4  El Sauz Chert         205
28 Group_6  El Sauz Chert           0
29 Group_7  El Sauz Chert           4
30 Group_8  El Sauz Chert           4
31 Group_1  Knife River Flint       0
32 Group_10 Knife River Flint       1
33 Group_11 Knife River Flint       2
34 Group_12 Knife River Flint       0
35 Group_14 Knife River Flint       2
36 Group_2  Knife River Flint       4
37 Group_4  Knife River Flint       0
38 Group_6  Knife River Flint       1
39 Group_7  Knife River Flint       0
40 Group_8  Knife River Flint       2
41 Group_1  Oman Chert              0
42 Group_10 Oman Chert              0
43 Group_11 Oman Chert              1
44 Group_12 Oman Chert              0
45 Group_14 Oman Chert              1
46 Group_2  Oman Chert              1
47 Group_4  Oman Chert              0
48 Group_6  Oman Chert              0
49 Group_7  Oman Chert             13
50 Group_8  Oman Chert              5

In [110]:
# this one is good, it separates both ESC and most of Oman
# ESC = 205, Oman = 13

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

ap_15_raw <- ap[ap$is_known == "Known",c(14,16)]
ap_15_raw <- ftable(ap_15_raw[])
ap_15_raw <- as.data.frame(ap_15_raw)
ap_15_raw

   X15      vis                   Freq
1  Group_1  Alibates                0
2  Group_10 Alibates                0
3  Group_11 Alibates                3
4  Group_12 Alibates                0
5  Group_14 Alibates                0
6  Group_2  Alibates               12
7  Group_4  Alibates                0
8  Group_6  Alibates                0
9  Group_7  Alibates                0
10 Group_8  Alibates                8
11 Group_1  Edwards Plateau Chert   0
12 Group_10 Edwards Plateau Chert   3
13 Group_11 Edwards Plateau Chert  12
14 Group_12 Edwards Plateau Chert   1
15 Group_14 Edwards Plateau Chert   3
16 Group_2  Edwards Plateau Chert  32
17 Group_4  Edwards Plateau Chert   0
18 Group_6  Edwards Plateau Chert   1
19 Group_7  Edwards Plateau Chert   0
20 Group_8  Edwards Plateau Chert  20
21 Group_1  El Sauz Chert          24
22 Group_10 El Sauz Chert           0
23 Group_11 El Sauz Chert          18
24 Group_12 El Sauz Chert           0
25 Group_14 El Sauz Chert           3
26 Group_2  El Sauz Chert          17
27 Group_4  El Sauz Chert         205
28 Group_6  El Sauz Chert           0
29 Group_7  El Sauz Chert           4
30 Group_8  El Sauz Chert           4
31 Group_1  Knife River Flint       0
32 Group_10 Knife River Flint       1
33 Group_11 Knife River Flint       2
34 Group_12 Knife River Flint       0
35 Group_14 Knife River Flint       2
36 Group_2  Knife River Flint       4
37 Group_4  Knife River Flint       0
38 Group_6  Knife River Flint       1
39 Group_7  Knife River Flint       0
40 Group_8  Knife River Flint       2
41 Group_1  Oman Chert              0
42 Group_10 Oman Chert              0
43 Group_11 Oman Chert              1
44 Group_12 Oman Chert              0
45 Group_14 Oman Chert              1
46 Group_2  Oman Chert              1
47 Group_4  Oman Chert              0
48 Group_6  Oman Chert              0
49 Group_7  Oman Chert             13
50 Group_8  Oman Chert              5

In [115]:
# this one is good, it separates both ESC and most of Oman
# ESC = 159, Oman = 15

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

sc_6_raw <- sc[sc$is_known == "Known",c(5,16)]
sc_6_raw <- ftable(sc_6_raw[])
sc_6_raw <- as.data.frame(sc_6_raw)
sc_6_raw

   X6      vis                   Freq
1  Group_1 Alibates                5
2  Group_2 Alibates                0
3  Group_3 Alibates                2
4  Group_4 Alibates                0
5  Group_5 Alibates                0
6  Group_6 Alibates               16
7  Group_1 Edwards Plateau Chert  18
8  Group_2 Edwards Plateau Chert   0
9  Group_3 Edwards Plateau Chert  11
10 Group_4 Edwards Plateau Chert   2
11 Group_5 Edwards Plateau Chert   0
12 Group_6 Edwards Plateau Chert  41
13 Group_1 El Sauz Chert           2
14 Group_2 El Sauz Chert          98
15 Group_3 El Sauz Chert          12
16 Group_4 El Sauz Chert           0
17 Group_5 El Sauz Chert         159
18 Group_6 El Sauz Chert           4
19 Group_1 Knife River Flint       2
20 Group_2 Knife River Flint       0
21 Group_3 Knife River Flint       4
22 Group_4 Knife River Flint       1
23 Group_5 Knife River Flint       0
24 Group_6 Knife River Flint       5
25 Group_1 Oman Chert              6
26 Group_2 Oman Chert              0
27 Group_3 Oman Chert             15
28 Group_4 Oman Chert              0
29 Group_5 Oman Chert              0
30 Group_6 Oman Chert              0

In [116]:
# this one is good, it separates both ESC and most of Oman
# ESC = 158, Oman = 21

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

sc_7_raw <- sc[sc$is_known == "Known",c(6,16)]
sc_7_raw <- ftable(sc_7_raw[])
sc_7_raw <- as.data.frame(sc_7_raw)
sc_7_raw

   X7      vis                   Freq
1  Group_1 Alibates                0
2  Group_2 Alibates                4
3  Group_3 Alibates               17
4  Group_4 Alibates                1
5  Group_5 Alibates                0
6  Group_6 Alibates                0
7  Group_7 Alibates                1
8  Group_1 Edwards Plateau Chert   0
9  Group_2 Edwards Plateau Chert  18
10 Group_3 Edwards Plateau Chert  42
11 Group_4 Edwards Plateau Chert   9
12 Group_5 Edwards Plateau Chert   0
13 Group_6 Edwards Plateau Chert   1
14 Group_7 Edwards Plateau Chert   2
15 Group_1 El Sauz Chert          96
16 Group_2 El Sauz Chert           0
17 Group_3 El Sauz Chert           4
18 Group_4 El Sauz Chert           6
19 Group_5 El Sauz Chert         158
20 Group_6 El Sauz Chert           0
21 Group_7 El Sauz Chert          11
22 Group_1 Knife River Flint       0
23 Group_2 Knife River Flint       1
24 Group_3 Knife River Flint       6
25 Group_4 Knife River Flint       5
26 Group_5 Knife River Flint       0
27 Group_6 Knife River Flint       0
28 Group_7 Knife River Flint       0
29 Group_1 Oman Chert              0
30 Group_2 Oman Chert              0
31 Group_3 Oman Chert              0
32 Group_4 Oman Chert              0
33 Group_5 Oman Chert              0
34 Group_6 Oman Chert              0
35 Group_7 Oman Chert             21

In [117]:
# this one is good, it separates both ESC and most of Oman
# ESC = 118 & 90, Oman = 18

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

sc_8_raw <- sc[sc$is_known == "Known",c(7,16)]
sc_8_raw <- ftable(sc_8_raw[])
sc_8_raw <- as.data.frame(sc_8_raw)
sc_8_raw

   X8      vis                   Freq
1  Group_1 Alibates                6
2  Group_2 Alibates                0
3  Group_3 Alibates                2
4  Group_4 Alibates               13
5  Group_5 Alibates                0
6  Group_6 Alibates                0
7  Group_7 Alibates                1
8  Group_8 Alibates                1
9  Group_1 Edwards Plateau Chert  15
10 Group_2 Edwards Plateau Chert   0
11 Group_3 Edwards Plateau Chert  23
12 Group_4 Edwards Plateau Chert  32
13 Group_5 Edwards Plateau Chert   0
14 Group_6 Edwards Plateau Chert   0
15 Group_7 Edwards Plateau Chert   1
16 Group_8 Edwards Plateau Chert   1
17 Group_1 El Sauz Chert           2
18 Group_2 El Sauz Chert          90
19 Group_3 El Sauz Chert          13
20 Group_4 El Sauz Chert           2
21 Group_5 El Sauz Chert          36
22 Group_6 El Sauz Chert         118
23 Group_7 El Sauz Chert          10
24 Group_8 El Sauz Chert           4
25 Group_1 Knife River Flint       2
26 Group_2 Knife River Flint       0
27 Group_3 Knife River Flint       6
28 Group_4 Knife River Flint       4
29 Group_5 Knife River Flint       0
30 Group_6 Knife River Flint       0
31 Group_7 Knife River Flint       0
32 Group_8 Knife River Flint       0
33 Group_1 Oman Chert              0
34 Group_2 Oman Chert              0
35 Group_3 Oman Chert              0
36 Group_4 Oman Chert              0
37 Group_5 Oman Chert              0
38 Group_6 Oman Chert              0
39 Group_7 Oman Chert             18
40 Group_8 Oman Chert              3

In [118]:
# this one is good, it separates both ESC and most of Oman
# ESC = 119 & 83, Oman = 17

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

sc_9_raw <- sc[sc$is_known == "Known",c(8,16)]
sc_9_raw <- ftable(sc_9_raw[])
sc_9_raw <- as.data.frame(sc_9_raw)
sc_9_raw

   X9      vis                   Freq
1  Group_1 Alibates                0
2  Group_2 Alibates                0
3  Group_3 Alibates                1
4  Group_4 Alibates                1
5  Group_5 Alibates                2
6  Group_6 Alibates                0
7  Group_7 Alibates                0
8  Group_8 Alibates               13
9  Group_9 Alibates                6
10 Group_1 Edwards Plateau Chert   0
11 Group_2 Edwards Plateau Chert   0
12 Group_3 Edwards Plateau Chert   8
13 Group_4 Edwards Plateau Chert   1
14 Group_5 Edwards Plateau Chert  16
15 Group_6 Edwards Plateau Chert   0
16 Group_7 Edwards Plateau Chert   0
17 Group_8 Edwards Plateau Chert  34
18 Group_9 Edwards Plateau Chert  13
19 Group_1 El Sauz Chert          26
20 Group_2 El Sauz Chert         119
21 Group_3 El Sauz Chert          11
22 Group_4 El Sauz Chert           3
23 Group_5 El Sauz Chert           3
24 Group_6 El Sauz Chert          27
25 Group_7 El Sauz Chert          83
26 Group_8 El Sauz Chert           2
27 Group_9 El Sauz Chert           1
28 Group_1 Knife River Flint       0
29 Group_2 Knife River Flint       0
30 Group_3 Knife River Flint       0
31 Group_4 Knife River Flint       0
32 Group_5 Knife River Flint       6
33 Group_6 Knife River Flint       0
34 Group_7 Knife River Flint       0
35 Group_8 Knife River Flint       4
36 Group_9 Knife River Flint       2
37 Group_1 Oman Chert              0
38 Group_2 Oman Chert              0
39 Group_3 Oman Chert             17
40 Group_4 Oman Chert              3
41 Group_5 Oman Chert              1
42 Group_6 Oman Chert              0
43 Group_7 Oman Chert              0
44 Group_8 Oman Chert              0
45 Group_9 Oman Chert              0

In [119]:
# this one is good, it separates both ESC and most of Oman
# ESC = 110 & 81, Oman = 21

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

sc_10_raw <- sc[sc$is_known == "Known",c(9,16)]
sc_10_raw <- ftable(sc_10_raw[])
sc_10_raw <- as.data.frame(sc_10_raw)
sc_10_raw

   X10      vis                   Freq
1  Group_1  Alibates                0
2  Group_10 Alibates               12
3  Group_2  Alibates                0
4  Group_3  Alibates                3
5  Group_4  Alibates                1
6  Group_5  Alibates                0
7  Group_6  Alibates                0
8  Group_7  Alibates                1
9  Group_8  Alibates                0
10 Group_9  Alibates                6
11 Group_1  Edwards Plateau Chert   0
12 Group_10 Edwards Plateau Chert  30
13 Group_2  Edwards Plateau Chert   0
14 Group_3  Edwards Plateau Chert  11
15 Group_4  Edwards Plateau Chert   7
16 Group_5  Edwards Plateau Chert   0
17 Group_6  Edwards Plateau Chert  14
18 Group_7  Edwards Plateau Chert   0
19 Group_8  Edwards Plateau Chert   0
20 Group_9  Edwards Plateau Chert  10
21 Group_1  El Sauz Chert         110
22 Group_10 El Sauz Chert           0
23 Group_2  El Sauz Chert          81
24 Group_3  El Sauz Chert           0
25 Group_4  El Sauz Chert           4
26 Group_5  El Sauz Chert          46
27 Group_6  El Sauz Chert           1
28 Group_7  El Sauz Chert           9
29 Group_8  El Sauz Chert          24
30 Group_9  El Sauz Chert           0
31 Group_1  Knife River Flint       0
32 Group_10 Knife River Flint       4
33 Group_2  Knife River Flint       0
34 Group_3  Knife River Flint       1
35 Group_4  Knife River Flint       5
36 Group_5  Knife River Flint       0
37 Group_6  Knife River Flint       1
38 Group_7  Knife River Flint       0
39 Group_8  Knife River Flint       0
40 Group_9  Knife River Flint       1
41 Group_1  Oman Chert              0
42 Group_10 Oman Chert              0
43 Group_2  Oman Chert              0
44 Group_3  Oman Chert              0
45 Group_4  Oman Chert              0
46 Group_5  Oman Chert              0
47 Group_6  Oman Chert              0
48 Group_7  Oman Chert             21
49 Group_8  Oman Chert              0
50 Group_9  Oman Chert              0

In [120]:
# this one is good, it separates both ESC and most of Oman
# ESC = 99 & 62 & 66, Oman = 21

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

sc_11_raw <- sc[sc$is_known == "Known",c(10,16)]
sc_11_raw <- ftable(sc_11_raw[])
sc_11_raw <- as.data.frame(sc_11_raw)
sc_11_raw

   X11      vis                   Freq
1  Group_1  Alibates               0
2  Group_10 Alibates               1
3  Group_11 Alibates               1
4  Group_2  Alibates               0
5  Group_3  Alibates               2
6  Group_4  Alibates               8
7  Group_5  Alibates               0
8  Group_6  Alibates               4
9  Group_7  Alibates               1
10 Group_8  Alibates               0
11 Group_9  Alibates               6
12 Group_1  Edwards Plateau Chert  0
13 Group_10 Edwards Plateau Chert  3
14 Group_11 Edwards Plateau Chert  1
15 Group_2  Edwards Plateau Chert  0
16 Group_3  Edwards Plateau Chert 14
17 Group_4  Edwards Plateau Chert 20
18 Group_5  Edwards Plateau Chert 12
19 Group_6  Edwards Plateau Chert 21
20 Group_7  Edwards Plateau Chert  1
21 Group_8  Edwards Plateau Chert  0
22 Group_9  Edwards Plateau Chert  0
23 Group_1  El Sauz Chert          8
24 Group_10 El Sauz Chert          3
25 Group_11 El Sauz Chert         99
26 Group_2  El Sauz Chert         62
27 Group_3  El Sauz Chert          6
28 Group_4  El Sauz Chert          5
29 Group_5  El Sauz Chert          1
30 Group_6  El Sauz Chert          5
31 Group_7  El Sauz Chert          6
32 Group_8  El Sauz Chert         66
33 Group_9  El Sauz Chert         14
34 Group_1  Knife River Flint      0
35 Group_10 Knife River Flint      0
36 Group_11 Knife River Flint      1
37 Group_2  Knife River Flint      0
38 Group_3  Knife River Flint      7
39 Group_4  Knife River Flint      4
40 Group_5  Knife River Flint      0
41 Group_6  Knife River Flint      0
42 Group_7  Knife River Flint      0
43 Group_8  Knife River Flint      0
44 Group_9  Knife River Flint      0
45 Group_1  Oman Chert            21
46 Group_10 Oman Chert             0
47 Group_11 Oman Chert             0
48 Group_2  Oman Chert             0
49 Group_3  Oman Chert             0
50 Group_4  Oman Chert             0
51 Group_5  Oman Chert             0
52 Group_6  Oman Chert             0
53 Group_7  Oman Chert             0
54 Group_8  Oman Chert             0
55 Group_9  Oman Chert             0

In [121]:
# this one is good, it separates both ESC and most of Oman
# ESC = 105, 63, 66, Oman = 21

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

sc_12_raw <- sc[sc$is_known == "Known",c(11,16)]
sc_12_raw <- ftable(sc_12_raw[])
sc_12_raw <- as.data.frame(sc_12_raw)
sc_12_raw

   X12      vis                   Freq
1  Group_1  Alibates                0
2  Group_10 Alibates                5
3  Group_11 Alibates                0
4  Group_12 Alibates                8
5  Group_2  Alibates                1
6  Group_3  Alibates                0
7  Group_4  Alibates                6
8  Group_5  Alibates                0
9  Group_6  Alibates                0
10 Group_8  Alibates                0
11 Group_9  Alibates                3
12 Group_1  Edwards Plateau Chert   0
13 Group_10 Edwards Plateau Chert  21
14 Group_11 Edwards Plateau Chert   0
15 Group_12 Edwards Plateau Chert  22
16 Group_2  Edwards Plateau Chert   1
17 Group_3  Edwards Plateau Chert   1
18 Group_4  Edwards Plateau Chert   0
19 Group_5  Edwards Plateau Chert   0
20 Group_6  Edwards Plateau Chert   0
21 Group_8  Edwards Plateau Chert  12
22 Group_9  Edwards Plateau Chert  15
23 Group_1  El Sauz Chert          63
24 Group_10 El Sauz Chert           0
25 Group_11 El Sauz Chert         105
26 Group_12 El Sauz Chert           4
27 Group_2  El Sauz Chert           5
28 Group_3  El Sauz Chert           0
29 Group_4  El Sauz Chert          17
30 Group_5  El Sauz Chert           8
31 Group_6  El Sauz Chert          66
32 Group_8  El Sauz Chert           1
33 Group_9  El Sauz Chert           6
34 Group_1  Knife River Flint       0
35 Group_10 Knife River Flint       0
36 Group_11 Knife River Flint       0
37 Group_12 Knife River Flint       5
38 Group_2  Knife River Flint       0
39 Group_3  Knife River Flint       0
40 Group_4  Knife River Flint       0
41 Group_5  Knife River Flint       0
42 Group_6  Knife River Flint       0
43 Group_8  Knife River Flint       1
44 Group_9  Knife River Flint       6
45 Group_1  Oman Chert              0
46 Group_10 Oman Chert              0
47 Group_11 Oman Chert              0
48 Group_12 Oman Chert              0
49 Group_2  Oman Chert              0
50 Group_3  Oman Chert              0
51 Group_4  Oman Chert              0
52 Group_5  Oman Chert             21
53 Group_6  Oman Chert              0
54 Group_8  Oman Chert              0
55 Group_9  Oman Chert              0

In [127]:
# this one is good, it separates both ESC and most of Oman
# ESC = 226, Oman = 18

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

gmm_4_raw <- gmm[gmm$is_known == "Known",c(3,16)]
gmm_4_raw <- ftable(gmm_4_raw[])
gmm_4_raw <- as.data.frame(gmm_4_raw)
gmm_4_raw

   X4      vis                   Freq
1  Group_1 Alibates                3
2  Group_2 Alibates               16
3  Group_3 Alibates                0
4  Group_4 Alibates                4
5  Group_1 Edwards Plateau Chert   1
6  Group_2 Edwards Plateau Chert  50
7  Group_3 Edwards Plateau Chert   0
8  Group_4 Edwards Plateau Chert  21
9  Group_1 El Sauz Chert         226
10 Group_2 El Sauz Chert           0
11 Group_3 El Sauz Chert           2
12 Group_4 El Sauz Chert          47
13 Group_1 Knife River Flint       1
14 Group_2 Knife River Flint       5
15 Group_3 Knife River Flint       2
16 Group_4 Knife River Flint       4
17 Group_1 Oman Chert              0
18 Group_2 Oman Chert              1
19 Group_3 Oman Chert              2
20 Group_4 Oman Chert             18

In [128]:
# this one is good, it separates both ESC and most of Oman
# ESC = 236, Oman = 13

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

gmm_5_raw <- gmm[gmm$is_known == "Known",c(4,16)]
gmm_5_raw <- ftable(gmm_5_raw[])
gmm_5_raw <- as.data.frame(gmm_5_raw)
gmm_5_raw

   X5      vis                   Freq
1  Group_1 Alibates                5
2  Group_2 Alibates               16
3  Group_3 Alibates                0
4  Group_4 Alibates                2
5  Group_5 Alibates                0
6  Group_1 Edwards Plateau Chert  21
7  Group_2 Edwards Plateau Chert  46
8  Group_3 Edwards Plateau Chert   0
9  Group_4 Edwards Plateau Chert   0
10 Group_5 Edwards Plateau Chert   5
11 Group_1 El Sauz Chert           0
12 Group_2 El Sauz Chert           0
13 Group_3 El Sauz Chert           0
14 Group_4 El Sauz Chert         236
15 Group_5 El Sauz Chert          39
16 Group_1 Knife River Flint       4
17 Group_2 Knife River Flint       4
18 Group_3 Knife River Flint       2
19 Group_4 Knife River Flint       1
20 Group_5 Knife River Flint       1
21 Group_1 Oman Chert              6
22 Group_2 Oman Chert              0
23 Group_3 Oman Chert              2
24 Group_4 Oman Chert              0
25 Group_5 Oman Chert             13

In [129]:
# this one is good, it separates both ESC and most of Oman
# ESC = 178 & 93, Oman = 12

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

gmm_6_raw <- gmm[gmm$is_known == "Known",c(5,16)]
gmm_6_raw <- ftable(gmm_6_raw[])
gmm_6_raw <- as.data.frame(gmm_6_raw)
gmm_6_raw

   X6      vis                   Freq
1  Group_1 Alibates                5
2  Group_2 Alibates                0
3  Group_3 Alibates                0
4  Group_4 Alibates                2
5  Group_5 Alibates               16
6  Group_6 Alibates                0
7  Group_1 Edwards Plateau Chert  22
8  Group_2 Edwards Plateau Chert   0
9  Group_3 Edwards Plateau Chert   0
10 Group_4 Edwards Plateau Chert   1
11 Group_5 Edwards Plateau Chert  45
12 Group_6 Edwards Plateau Chert   4
13 Group_1 El Sauz Chert           0
14 Group_2 El Sauz Chert          93
15 Group_3 El Sauz Chert           0
16 Group_4 El Sauz Chert         178
17 Group_5 El Sauz Chert           0
18 Group_6 El Sauz Chert           4
19 Group_1 Knife River Flint       4
20 Group_2 Knife River Flint       1
21 Group_3 Knife River Flint       2
22 Group_4 Knife River Flint       1
23 Group_5 Knife River Flint       4
24 Group_6 Knife River Flint       0
25 Group_1 Oman Chert              7
26 Group_2 Oman Chert              0
27 Group_3 Oman Chert              1
28 Group_4 Oman Chert              0
29 Group_5 Oman Chert              1
30 Group_6 Oman Chert             12

In [130]:
# this one is good, it separates both ESC and most of Oman
# ESC = 189 & 67, Oman = 11

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

gmm_7_raw <- gmm[gmm$is_known == "Known",c(6,16)]
gmm_7_raw <- ftable(gmm_7_raw[])
gmm_7_raw <- as.data.frame(gmm_7_raw)
gmm_7_raw

   X7      vis                   Freq
1  Group_1 Alibates                4
2  Group_2 Alibates                9
3  Group_3 Alibates                2
4  Group_4 Alibates                0
5  Group_5 Alibates                0
6  Group_6 Alibates                8
7  Group_7 Alibates                0
8  Group_1 Edwards Plateau Chert  12
9  Group_2 Edwards Plateau Chert  26
10 Group_3 Edwards Plateau Chert   0
11 Group_4 Edwards Plateau Chert   0
12 Group_5 Edwards Plateau Chert   5
13 Group_6 Edwards Plateau Chert  26
14 Group_7 Edwards Plateau Chert   3
15 Group_1 El Sauz Chert          13
16 Group_2 El Sauz Chert           0
17 Group_3 El Sauz Chert         189
18 Group_4 El Sauz Chert           0
19 Group_5 El Sauz Chert          67
20 Group_6 El Sauz Chert           0
21 Group_7 El Sauz Chert           6
22 Group_1 Knife River Flint       1
23 Group_2 Knife River Flint       3
24 Group_3 Knife River Flint       1
25 Group_4 Knife River Flint       2
26 Group_5 Knife River Flint       3
27 Group_6 Knife River Flint       2
28 Group_7 Knife River Flint       0
29 Group_1 Oman Chert              8
30 Group_2 Oman Chert              1
31 Group_3 Oman Chert              0
32 Group_4 Oman Chert              1
33 Group_5 Oman Chert              0
34 Group_6 Oman Chert              0
35 Group_7 Oman Chert             11

In [131]:
# this one is good, it separates both ESC and most of Oman
# ESC = 205, Oman = 9

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

gmm_8_raw <- gmm[gmm$is_known == "Known",c(7,16)]
gmm_8_raw <- ftable(gmm_8_raw[])
gmm_8_raw <- as.data.frame(gmm_8_raw)
gmm_8_raw

   X8      vis                   Freq
1  Group_1 Alibates                1
2  Group_2 Alibates                8
3  Group_3 Alibates                0
4  Group_4 Alibates                0
5  Group_5 Alibates                4
6  Group_6 Alibates                3
7  Group_7 Alibates                7
8  Group_8 Alibates                0
9  Group_1 Edwards Plateau Chert   8
10 Group_2 Edwards Plateau Chert  12
11 Group_3 Edwards Plateau Chert   0
12 Group_4 Edwards Plateau Chert   0
13 Group_5 Edwards Plateau Chert   6
14 Group_6 Edwards Plateau Chert  11
15 Group_7 Edwards Plateau Chert  30
16 Group_8 Edwards Plateau Chert   5
17 Group_1 El Sauz Chert          47
18 Group_2 El Sauz Chert          13
19 Group_3 El Sauz Chert         205
20 Group_4 El Sauz Chert           0
21 Group_5 El Sauz Chert           8
22 Group_6 El Sauz Chert           0
23 Group_7 El Sauz Chert           0
24 Group_8 El Sauz Chert           2
25 Group_1 Knife River Flint       2
26 Group_2 Knife River Flint       3
27 Group_3 Knife River Flint       0
28 Group_4 Knife River Flint       1
29 Group_5 Knife River Flint       2
30 Group_6 Knife River Flint       1
31 Group_7 Knife River Flint       2
32 Group_8 Knife River Flint       1
33 Group_1 Oman Chert              4
34 Group_2 Oman Chert              1
35 Group_3 Oman Chert              0
36 Group_4 Oman Chert              2
37 Group_5 Oman Chert              5
38 Group_6 Oman Chert              0
39 Group_7 Oman Chert              0
40 Group_8 Oman Chert              9

In [132]:
# this one is good, it separates both ESC and most of Oman
# ESC = 206, Oman = 9

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

gmm_9_raw <- gmm[gmm$is_known == "Known",c(8,16)]
gmm_9_raw <- ftable(gmm_9_raw[])
gmm_9_raw <- as.data.frame(gmm_9_raw)
gmm_9_raw

   X9      vis                   Freq
1  Group_1 Alibates                1
2  Group_2 Alibates                3
3  Group_3 Alibates                3
4  Group_4 Alibates                0
5  Group_5 Alibates                0
6  Group_6 Alibates               11
7  Group_7 Alibates                1
8  Group_8 Alibates                4
9  Group_9 Alibates                0
10 Group_1 Edwards Plateau Chert   8
11 Group_2 Edwards Plateau Chert   6
12 Group_3 Edwards Plateau Chert  22
13 Group_4 Edwards Plateau Chert   0
14 Group_5 Edwards Plateau Chert   0
15 Group_6 Edwards Plateau Chert  11
16 Group_7 Edwards Plateau Chert  12
17 Group_8 Edwards Plateau Chert   8
18 Group_9 Edwards Plateau Chert   5
19 Group_1 El Sauz Chert          49
20 Group_2 El Sauz Chert           6
21 Group_3 El Sauz Chert           0
22 Group_4 El Sauz Chert         206
23 Group_5 El Sauz Chert           0
24 Group_6 El Sauz Chert          11
25 Group_7 El Sauz Chert           0
26 Group_8 El Sauz Chert           1
27 Group_9 El Sauz Chert           2
28 Group_1 Knife River Flint       2
29 Group_2 Knife River Flint       1
30 Group_3 Knife River Flint       1
31 Group_4 Knife River Flint       0
32 Group_5 Knife River Flint       1
33 Group_6 Knife River Flint       4
34 Group_7 Knife River Flint       2
35 Group_8 Knife River Flint       0
36 Group_9 Knife River Flint       1
37 Group_1 Oman Chert              4
38 Group_2 Oman Chert              5
39 Group_3 Oman Chert              0
40 Group_4 Oman Chert              0
41 Group_5 Oman Chert              2
42 Group_6 Oman Chert              1
43 Group_7 Oman Chert              0
44 Group_8 Oman Chert              0
45 Group_9 Oman Chert              9

In [133]:
# this one is good, it separates both ESC and most of Oman
# ESC = 106 & 119, Oman = 9

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

gmm_10_raw <- gmm[gmm$is_known == "Known",c(9,16)]
gmm_10_raw <- ftable(gmm_10_raw[])
gmm_10_raw <- as.data.frame(gmm_10_raw)
gmm_10_raw

   X10      vis                   Freq
1  Group_1  Alibates                4
2  Group_10 Alibates                0
3  Group_2  Alibates                8
4  Group_3  Alibates                2
5  Group_4  Alibates                0
6  Group_5  Alibates                0
7  Group_6  Alibates                3
8  Group_7  Alibates                3
9  Group_8  Alibates                0
10 Group_9  Alibates                3
11 Group_1  Edwards Plateau Chert  10
12 Group_10 Edwards Plateau Chert   8
13 Group_2  Edwards Plateau Chert  13
14 Group_3  Edwards Plateau Chert  10
15 Group_4  Edwards Plateau Chert   0
16 Group_5  Edwards Plateau Chert   0
17 Group_6  Edwards Plateau Chert  10
18 Group_7  Edwards Plateau Chert   8
19 Group_8  Edwards Plateau Chert   0
20 Group_9  Edwards Plateau Chert  13
21 Group_1  El Sauz Chert          37
22 Group_10 El Sauz Chert           6
23 Group_2  El Sauz Chert           4
24 Group_3  El Sauz Chert           1
25 Group_4  El Sauz Chert         119
26 Group_5  El Sauz Chert           0
27 Group_6  El Sauz Chert           0
28 Group_7  El Sauz Chert           0
29 Group_8  El Sauz Chert         106
30 Group_9  El Sauz Chert           2
31 Group_1  Knife River Flint       3
32 Group_10 Knife River Flint       1
33 Group_2  Knife River Flint       4
34 Group_3  Knife River Flint       0
35 Group_4  Knife River Flint       0
36 Group_5  Knife River Flint       1
37 Group_6  Knife River Flint       1
38 Group_7  Knife River Flint       1
39 Group_8  Knife River Flint       0
40 Group_9  Knife River Flint       1
41 Group_1  Oman Chert              8
42 Group_10 Oman Chert              9
43 Group_2  Oman Chert              1
44 Group_3  Oman Chert              1
45 Group_4  Oman Chert              0
46 Group_5  Oman Chert              2
47 Group_6  Oman Chert              0
48 Group_7  Oman Chert              0
49 Group_8  Oman Chert              0
50 Group_9  Oman Chert              0

In [134]:
# this one is good, it separates both ESC and most of Oman
# ESC = 129, 63 & 55, Oman = 9 & 9

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

gmm_11_raw <- gmm[gmm$is_known == "Known",c(10,16)]
gmm_11_raw <- ftable(gmm_11_raw[])
gmm_11_raw <- as.data.frame(gmm_11_raw)
gmm_11_raw

   X11      vis                   Freq
1  Group_1  Alibates                0
2  Group_10 Alibates                4
3  Group_11 Alibates                0
4  Group_2  Alibates                5
5  Group_3  Alibates                0
6  Group_4  Alibates                1
7  Group_5  Alibates                0
8  Group_6  Alibates                1
9  Group_7  Alibates                7
10 Group_8  Alibates                0
11 Group_9  Alibates                5
12 Group_1  Edwards Plateau Chert   0
13 Group_10 Edwards Plateau Chert  16
14 Group_11 Edwards Plateau Chert   1
15 Group_2  Edwards Plateau Chert   9
16 Group_3  Edwards Plateau Chert   0
17 Group_4  Edwards Plateau Chert   0
18 Group_5  Edwards Plateau Chert   0
19 Group_6  Edwards Plateau Chert  20
20 Group_7  Edwards Plateau Chert   3
21 Group_8  Edwards Plateau Chert   0
22 Group_9  Edwards Plateau Chert  23
23 Group_1  El Sauz Chert          25
24 Group_10 El Sauz Chert           1
25 Group_11 El Sauz Chert           2
26 Group_2  El Sauz Chert           0
27 Group_3  El Sauz Chert         129
28 Group_4  El Sauz Chert          63
29 Group_5  El Sauz Chert           0
30 Group_6  El Sauz Chert           0
31 Group_7  El Sauz Chert           0
32 Group_8  El Sauz Chert          55
33 Group_9  El Sauz Chert           0
34 Group_1  Knife River Flint       0
35 Group_10 Knife River Flint       1
36 Group_11 Knife River Flint       0
37 Group_2  Knife River Flint       4
38 Group_3  Knife River Flint       0
39 Group_4  Knife River Flint       0
40 Group_5  Knife River Flint       2
41 Group_6  Knife River Flint       3
42 Group_7  Knife River Flint       1
43 Group_8  Knife River Flint       1
44 Group_9  Knife River Flint       0
45 Group_1  Oman Chert              0
46 Group_10 Oman Chert              9
47 Group_11 Oman Chert              9
48 Group_2  Oman Chert              2
49 Group_3  Oman Chert              0
50 Group_4  Oman Chert              0
51 Group_5  Oman Chert              1
52 Group_6  Oman Chert              0
53 Group_7  Oman Chert              0
54 Group_8  Oman Chert              0
55 Group_9  Oman Chert              0

In [135]:
# this one is good, it separates both ESC and most of Oman
# ESC = 115 & 103, Oman = 9 & 9

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

gmm_12_raw <- gmm[gmm$is_known == "Known",c(11,16)]
gmm_12_raw <- ftable(gmm_12_raw[])
gmm_12_raw <- as.data.frame(gmm_12_raw)
gmm_12_raw

   X12      vis                   Freq
1  Group_1  Alibates                0
2  Group_10 Alibates                4
3  Group_11 Alibates                0
4  Group_2  Alibates                3
5  Group_3  Alibates                2
6  Group_4  Alibates                0
7  Group_5  Alibates                0
8  Group_6  Alibates                1
9  Group_7  Alibates                9
10 Group_8  Alibates                0
11 Group_9  Alibates                4
12 Group_1  Edwards Plateau Chert   0
13 Group_10 Edwards Plateau Chert  12
14 Group_11 Edwards Plateau Chert   6
15 Group_2  Edwards Plateau Chert   6
16 Group_3  Edwards Plateau Chert  23
17 Group_4  Edwards Plateau Chert   0
18 Group_5  Edwards Plateau Chert   0
19 Group_6  Edwards Plateau Chert   3
20 Group_7  Edwards Plateau Chert  13
21 Group_8  Edwards Plateau Chert   0
22 Group_9  Edwards Plateau Chert   9
23 Group_1  El Sauz Chert          37
24 Group_10 El Sauz Chert          12
25 Group_11 El Sauz Chert           3
26 Group_2  El Sauz Chert           5
27 Group_3  El Sauz Chert           0
28 Group_4  El Sauz Chert         115
29 Group_5  El Sauz Chert           0
30 Group_6  El Sauz Chert           0
31 Group_7  El Sauz Chert           0
32 Group_8  El Sauz Chert         103
33 Group_9  El Sauz Chert           0
34 Group_1  Knife River Flint       0
35 Group_10 Knife River Flint       3
36 Group_11 Knife River Flint       1
37 Group_2  Knife River Flint       2
38 Group_3  Knife River Flint       1
39 Group_4  Knife River Flint       0
40 Group_5  Knife River Flint       1
41 Group_6  Knife River Flint       1
42 Group_7  Knife River Flint       3
43 Group_8  Knife River Flint       0
44 Group_9  Knife River Flint       0
45 Group_1  Oman Chert              0
46 Group_10 Oman Chert              9
47 Group_11 Oman Chert              9
48 Group_2  Oman Chert              1
49 Group_3  Oman Chert              0
50 Group_4  Oman Chert              0
51 Group_5  Oman Chert              2
52 Group_6  Oman Chert              0
53 Group_7  Oman Chert              0
54 Group_8  Oman Chert              0
55 Group_9  Oman Chert              0

In [136]:
# this one is good, it separates both ESC and most of Oman
# ESC = 104 & 111, Oman = 9 & 9

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

gmm_13_raw <- gmm[gmm$is_known == "Known",c(12,16)]
gmm_13_raw <- ftable(gmm_13_raw[])
gmm_13_raw <- as.data.frame(gmm_13_raw)
gmm_13_raw

   X13      vis                   Freq
1  Group_1  Alibates                0
2  Group_10 Alibates                4
3  Group_11 Alibates                3
4  Group_12 Alibates                0
5  Group_2  Alibates                0
6  Group_3  Alibates                2
7  Group_4  Alibates                5
8  Group_5  Alibates                0
9  Group_6  Alibates                1
10 Group_7  Alibates                8
11 Group_8  Alibates                0
12 Group_9  Alibates                0
13 Group_1  Edwards Plateau Chert   0
14 Group_10 Edwards Plateau Chert   9
15 Group_11 Edwards Plateau Chert  12
16 Group_12 Edwards Plateau Chert   6
17 Group_2  Edwards Plateau Chert   0
18 Group_3  Edwards Plateau Chert  24
19 Group_4  Edwards Plateau Chert   5
20 Group_5  Edwards Plateau Chert   0
21 Group_6  Edwards Plateau Chert   5
22 Group_7  Edwards Plateau Chert  11
23 Group_8  Edwards Plateau Chert   0
24 Group_9  Edwards Plateau Chert   0
25 Group_1  El Sauz Chert          37
26 Group_10 El Sauz Chert           0
27 Group_11 El Sauz Chert          12
28 Group_12 El Sauz Chert           3
29 Group_2  El Sauz Chert           1
30 Group_3  El Sauz Chert           0
31 Group_4  El Sauz Chert           7
32 Group_5  El Sauz Chert           0
33 Group_6  El Sauz Chert           0
34 Group_7  El Sauz Chert           0
35 Group_8  El Sauz Chert         104
36 Group_9  El Sauz Chert         111
37 Group_1  Knife River Flint       0
38 Group_10 Knife River Flint       0
39 Group_11 Knife River Flint       3
40 Group_12 Knife River Flint       1
41 Group_2  Knife River Flint       0
42 Group_3  Knife River Flint       1
43 Group_4  Knife River Flint       4
44 Group_5  Knife River Flint       1
45 Group_6  Knife River Flint       1
46 Group_7  Knife River Flint       1
47 Group_8  Knife River Flint       0
48 Group_9  Knife River Flint       0
49 Group_1  Oman Chert              0
50 Group_10 Oman Chert              0
51 Group_11 Oman Chert              9
52 Group_12 Oman Chert              9
53 Group_2  Oman Chert              1
54 Group_3  Oman Chert              0
55 Group_4  Oman Chert              0
56 Group_5  Oman Chert              2
57 Group_6  Oman Chert              0
58 Group_7  Oman Chert              0
59 Group_8  Oman Chert              0
60 Group_9  Oman Chert              0

In [142]:
# this one is good, it separates both ESC and most of Oman
# ESC = 223, Oman = 11

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

block_5_raw <- block[block$is_known == "Known",c(4,16)]
block_5_raw <- ftable(block_5_raw[])
block_5_raw <- as.data.frame(block_5_raw)
block_5_raw

   X5      vis                   Freq
1  Group_1 Alibates                0
2  Group_2 Alibates               14
3  Group_3 Alibates                0
4  Group_4 Alibates                6
5  Group_5 Alibates                3
6  Group_1 Edwards Plateau Chert   1
7  Group_2 Edwards Plateau Chert  45
8  Group_3 Edwards Plateau Chert   3
9  Group_4 Edwards Plateau Chert   9
10 Group_5 Edwards Plateau Chert  14
11 Group_1 El Sauz Chert           2
12 Group_2 El Sauz Chert          11
13 Group_3 El Sauz Chert           0
14 Group_4 El Sauz Chert         223
15 Group_5 El Sauz Chert          39
16 Group_1 Knife River Flint       2
17 Group_2 Knife River Flint       7
18 Group_3 Knife River Flint       0
19 Group_4 Knife River Flint       1
20 Group_5 Knife River Flint       2
21 Group_1 Oman Chert             11
22 Group_2 Oman Chert              0
23 Group_3 Oman Chert              1
24 Group_4 Oman Chert              4
25 Group_5 Oman Chert              5

In [144]:
# this one is good, it separates both ESC and most of Oman
# ESC = 184, Oman = 11

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

block_7_raw <- block[block$is_known == "Known",c(6,16)]
block_7_raw <- ftable(block_7_raw[])
block_7_raw <- as.data.frame(block_7_raw)
block_7_raw

   X7      vis                   Freq
1  Group_1 Alibates                2
2  Group_2 Alibates                0
3  Group_3 Alibates               14
4  Group_4 Alibates                2
5  Group_5 Alibates                3
6  Group_6 Alibates                2
7  Group_7 Alibates                0
8  Group_1 Edwards Plateau Chert   2
9  Group_2 Edwards Plateau Chert   0
10 Group_3 Edwards Plateau Chert  49
11 Group_4 Edwards Plateau Chert  12
12 Group_5 Edwards Plateau Chert   2
13 Group_6 Edwards Plateau Chert   4
14 Group_7 Edwards Plateau Chert   3
15 Group_1 El Sauz Chert          12
16 Group_2 El Sauz Chert           1
17 Group_3 El Sauz Chert           0
18 Group_4 El Sauz Chert          18
19 Group_5 El Sauz Chert          60
20 Group_6 El Sauz Chert         184
21 Group_7 El Sauz Chert           0
22 Group_1 Knife River Flint       1
23 Group_2 Knife River Flint       2
24 Group_3 Knife River Flint       7
25 Group_4 Knife River Flint       0
26 Group_5 Knife River Flint       2
27 Group_6 Knife River Flint       0
28 Group_7 Knife River Flint       0
29 Group_1 Oman Chert             11
30 Group_2 Oman Chert              3
31 Group_3 Oman Chert              1
32 Group_4 Oman Chert              0
33 Group_5 Oman Chert              5
34 Group_6 Oman Chert              0
35 Group_7 Oman Chert              1

In [145]:
# this one is good, it separates both ESC and most of Oman
# ESC = 170 & 91, Oman = 12

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

block_8_raw <- block[block$is_known == "Known",c(7,16)]
block_8_raw <- ftable(block_8_raw[])
block_8_raw <- as.data.frame(block_8_raw)
block_8_raw

   X8      vis                   Freq
1  Group_1 Alibates                3
2  Group_2 Alibates                2
3  Group_3 Alibates                1
4  Group_4 Alibates               14
5  Group_5 Alibates                1
6  Group_6 Alibates                2
7  Group_8 Alibates                0
8  Group_1 Edwards Plateau Chert   9
9  Group_2 Edwards Plateau Chert  14
10 Group_3 Edwards Plateau Chert   0
11 Group_4 Edwards Plateau Chert  36
12 Group_5 Edwards Plateau Chert   0
13 Group_6 Edwards Plateau Chert  13
14 Group_8 Edwards Plateau Chert   0
15 Group_1 El Sauz Chert           8
16 Group_2 El Sauz Chert           1
17 Group_3 El Sauz Chert         170
18 Group_4 El Sauz Chert           0
19 Group_5 El Sauz Chert          91
20 Group_6 El Sauz Chert           0
21 Group_8 El Sauz Chert           5
22 Group_1 Knife River Flint       1
23 Group_2 Knife River Flint       0
24 Group_3 Knife River Flint       0
25 Group_4 Knife River Flint       7
26 Group_5 Knife River Flint       0
27 Group_6 Knife River Flint       2
28 Group_8 Knife River Flint       2
29 Group_1 Oman Chert             12
30 Group_2 Oman Chert              3
31 Group_3 Oman Chert              0
32 Group_4 Oman Chert              4
33 Group_5 Oman Chert              1
34 Group_6 Oman Chert              0
35 Group_8 Oman Chert              1

In [147]:
# this one is good, it separates both ESC and most of Oman
# ESC = 203, Oman = 11

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

block_10_raw <- block[block$is_known == "Known",c(9,16)]
block_10_raw <- ftable(block_10_raw[])
block_10_raw <- as.data.frame(block_10_raw)
block_10_raw

   X10      vis                   Freq
1  Group_1  Alibates                0
2  Group_10 Alibates                1
3  Group_2  Alibates                0
4  Group_3  Alibates               14
5  Group_4  Alibates                0
6  Group_5  Alibates                0
7  Group_6  Alibates                2
8  Group_7  Alibates                1
9  Group_8  Alibates                3
10 Group_9  Alibates                2
11 Group_1  Edwards Plateau Chert   6
12 Group_10 Edwards Plateau Chert   2
13 Group_2  Edwards Plateau Chert   0
14 Group_3  Edwards Plateau Chert  34
15 Group_4  Edwards Plateau Chert   5
16 Group_5  Edwards Plateau Chert   3
17 Group_6  Edwards Plateau Chert   1
18 Group_7  Edwards Plateau Chert  11
19 Group_8  Edwards Plateau Chert   6
20 Group_9  Edwards Plateau Chert   4
21 Group_1  El Sauz Chert           0
22 Group_10 El Sauz Chert         203
23 Group_2  El Sauz Chert           0
24 Group_3  El Sauz Chert           0
25 Group_4  El Sauz Chert          42
26 Group_5  El Sauz Chert           0
27 Group_6  El Sauz Chert          29
28 Group_7  El Sauz Chert           1
29 Group_8  El Sauz Chert           0
30 Group_9  El Sauz Chert           0
31 Group_1  Knife River Flint       1
32 Group_10 Knife River Flint       1
33 Group_2  Knife River Flint       0
34 Group_3  Knife River Flint       5
35 Group_4  Knife River Flint       2
36 Group_5  Knife River Flint       0
37 Group_6  Knife River Flint       2
38 Group_7  Knife River Flint       0
39 Group_8  Knife River Flint       1
40 Group_9  Knife River Flint       0
41 Group_1  Oman Chert              0
42 Group_10 Oman Chert              0
43 Group_2  Oman Chert              1
44 Group_3  Oman Chert              4
45 Group_4  Oman Chert              2
46 Group_5  Oman Chert              1
47 Group_6  Oman Chert              0
48 Group_7  Oman Chert              2
49 Group_8  Oman Chert              0
50 Group_9  Oman Chert             11

In [175]:
# this one is good, it separates both ESC and most of Oman
# ESC = 204, Oman = 13

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

cmeans_10_raw <- cmeans[cmeans$is_known == "Known",c(9,16)]
cmeans_10_raw <- ftable(cmeans_10_raw[])
cmeans_10_raw <- as.data.frame(cmeans_10_raw)
cmeans_10_raw

   X10      vis                   Freq
1  Group_1  Alibates                0
2  Group_10 Alibates                0
3  Group_2  Alibates               21
4  Group_3  Alibates                0
5  Group_5  Alibates                1
6  Group_6  Alibates                1
7  Group_7  Alibates                0
8  Group_8  Alibates                0
9  Group_1  Edwards Plateau Chert   3
10 Group_10 Edwards Plateau Chert   1
11 Group_2  Edwards Plateau Chert  58
12 Group_3  Edwards Plateau Chert   0
13 Group_5  Edwards Plateau Chert   0
14 Group_6  Edwards Plateau Chert   9
15 Group_7  Edwards Plateau Chert   1
16 Group_8  Edwards Plateau Chert   0
17 Group_1  El Sauz Chert           0
18 Group_10 El Sauz Chert           0
19 Group_2  El Sauz Chert          44
20 Group_3  El Sauz Chert          13
21 Group_5  El Sauz Chert           4
22 Group_6  El Sauz Chert          10
23 Group_7  El Sauz Chert           0
24 Group_8  El Sauz Chert         204
25 Group_1  Knife River Flint       1
26 Group_10 Knife River Flint       0
27 Group_2  Knife River Flint       6
28 Group_3  Knife River Flint       0
29 Group_5  Knife River Flint       0
30 Group_6  Knife River Flint       4
31 Group_7  Knife River Flint       1
32 Group_8  Knife River Flint       0
33 Group_1  Oman Chert              0
34 Group_10 Oman Chert              0
35 Group_2  Oman Chert              7
36 Group_3  Oman Chert              0
37 Group_5  Oman Chert             13
38 Group_6  Oman Chert              1
39 Group_7  Oman Chert              0
40 Group_8  Oman Chert              0

In [176]:
# this one is good, it separates both ESC and most of Oman
# ESC = 210, Oman = 12

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

cmeans_11_raw <- cmeans[cmeans$is_known == "Known",c(10,16)]
cmeans_11_raw <- ftable(cmeans_11_raw[])
cmeans_11_raw <- as.data.frame(cmeans_11_raw)
cmeans_11_raw

   X11      vis                   Freq
1  Group_1  Alibates                0
2  Group_10 Alibates                0
3  Group_11 Alibates                0
4  Group_2  Alibates               21
5  Group_5  Alibates                0
6  Group_6  Alibates                2
7  Group_7  Alibates                0
8  Group_8  Alibates                0
9  Group_1  Edwards Plateau Chert   4
10 Group_10 Edwards Plateau Chert   1
11 Group_11 Edwards Plateau Chert   0
12 Group_2  Edwards Plateau Chert  57
13 Group_5  Edwards Plateau Chert   0
14 Group_6  Edwards Plateau Chert   9
15 Group_7  Edwards Plateau Chert   1
16 Group_8  Edwards Plateau Chert   0
17 Group_1  El Sauz Chert           1
18 Group_10 El Sauz Chert           0
19 Group_11 El Sauz Chert         210
20 Group_2  El Sauz Chert          23
21 Group_5  El Sauz Chert           3
22 Group_6  El Sauz Chert          14
23 Group_7  El Sauz Chert           0
24 Group_8  El Sauz Chert          24
25 Group_1  Knife River Flint       1
26 Group_10 Knife River Flint       0
27 Group_11 Knife River Flint       0
28 Group_2  Knife River Flint       6
29 Group_5  Knife River Flint       0
30 Group_6  Knife River Flint       4
31 Group_7  Knife River Flint       1
32 Group_8  Knife River Flint       0
33 Group_1  Oman Chert              0
34 Group_10 Oman Chert              0
35 Group_11 Oman Chert              0
36 Group_2  Oman Chert              6
37 Group_5  Oman Chert             12
38 Group_6  Oman Chert              3
39 Group_7  Oman Chert              0
40 Group_8  Oman Chert              0

In [177]:
# this one is good, it separates both ESC and most of Oman
# ESC = 199, Oman = 11

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

cmeans_12_raw <- cmeans[cmeans$is_known == "Known",c(11,16)]
cmeans_12_raw <- ftable(cmeans_12_raw[])
cmeans_12_raw <- as.data.frame(cmeans_12_raw)
cmeans_12_raw

   X12      vis                   Freq
1  Group_1  Alibates                1
2  Group_10 Alibates                0
3  Group_11 Alibates                0
4  Group_12 Alibates                0
5  Group_2  Alibates               15
6  Group_5  Alibates                0
7  Group_6  Alibates                7
8  Group_7  Alibates                0
9  Group_8  Alibates                0
10 Group_1  Edwards Plateau Chert   5
11 Group_10 Edwards Plateau Chert   1
12 Group_11 Edwards Plateau Chert   0
13 Group_12 Edwards Plateau Chert   1
14 Group_2  Edwards Plateau Chert  46
15 Group_5  Edwards Plateau Chert   0
16 Group_6  Edwards Plateau Chert  16
17 Group_7  Edwards Plateau Chert   3
18 Group_8  Edwards Plateau Chert   0
19 Group_1  El Sauz Chert           5
20 Group_10 El Sauz Chert           0
21 Group_11 El Sauz Chert         199
22 Group_12 El Sauz Chert           0
23 Group_2  El Sauz Chert          27
24 Group_5  El Sauz Chert           2
25 Group_6  El Sauz Chert          18
26 Group_7  El Sauz Chert           0
27 Group_8  El Sauz Chert          24
28 Group_1  Knife River Flint       3
29 Group_10 Knife River Flint       0
30 Group_11 Knife River Flint       0
31 Group_12 Knife River Flint       1
32 Group_2  Knife River Flint       5
33 Group_5  Knife River Flint       0
34 Group_6  Knife River Flint       2
35 Group_7  Knife River Flint       1
36 Group_8  Knife River Flint       0
37 Group_1  Oman Chert              1
38 Group_10 Oman Chert              0
39 Group_11 Oman Chert              0
40 Group_12 Oman Chert              0
41 Group_2  Oman Chert              1
42 Group_5  Oman Chert             11
43 Group_6  Oman Chert              8
44 Group_7  Oman Chert              0
45 Group_8  Oman Chert              0

In [178]:
# this one is good, it separates both ESC and most of Oman
# ESC = 196, Oman = 12

# Group 1 = 
# Group 2 = 
# Group 3 = 
# Group 4 = 
# Group 5 = 
# Group 6 = 
# Group 7 = 
# Group 8 = 
# Group 9 = 
# Group 10 = 
# Group 11 = 
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

cmeans_13_raw <- cmeans[cmeans$is_known == "Known",c(12,16)]
cmeans_13_raw <- ftable(cmeans_13_raw[])
cmeans_13_raw <- as.data.frame(cmeans_13_raw)
cmeans_13_raw

   X13      vis                   Freq
1  Group_1  Alibates                0
2  Group_10 Alibates                0
3  Group_11 Alibates                0
4  Group_12 Alibates                0
5  Group_13 Alibates                0
6  Group_2  Alibates               18
7  Group_5  Alibates                0
8  Group_6  Alibates                5
9  Group_7  Alibates                0
10 Group_8  Alibates                0
11 Group_1  Edwards Plateau Chert   4
12 Group_10 Edwards Plateau Chert   1
13 Group_11 Edwards Plateau Chert   0
14 Group_12 Edwards Plateau Chert   1
15 Group_13 Edwards Plateau Chert   0
16 Group_2  Edwards Plateau Chert  48
17 Group_5  Edwards Plateau Chert   0
18 Group_6  Edwards Plateau Chert  16
19 Group_7  Edwards Plateau Chert   2
20 Group_8  Edwards Plateau Chert   0
21 Group_1  El Sauz Chert           3
22 Group_10 El Sauz Chert           0
23 Group_11 El Sauz Chert         196
24 Group_12 El Sauz Chert           0
25 Group_13 El Sauz Chert           0
26 Group_2  El Sauz Chert          26
27 Group_5  El Sauz Chert           6
28 Group_6  El Sauz Chert          20
29 Group_7  El Sauz Chert           0
30 Group_8  El Sauz Chert          24
31 Group_1  Knife River Flint       2
32 Group_10 Knife River Flint       0
33 Group_11 Knife River Flint       0
34 Group_12 Knife River Flint       1
35 Group_13 Knife River Flint       0
36 Group_2  Knife River Flint       5
37 Group_5  Knife River Flint       0
38 Group_6  Knife River Flint       3
39 Group_7  Knife River Flint       1
40 Group_8  Knife River Flint       0
41 Group_1  Oman Chert              1
42 Group_10 Oman Chert              0
43 Group_11 Oman Chert              0
44 Group_12 Oman Chert              0
45 Group_13 Oman Chert              4
46 Group_2  Oman Chert              3
47 Group_5  Oman Chert             12
48 Group_6  Oman Chert              1
49 Group_7  Oman Chert              0
50 Group_8  Oman Chert              0

In [179]:
# this one is good, it separates both ESC and most of Oman
# ESC = 194, Oman = 11

# Group 1 = Chert_3
# Group 2 = Chert_1
# Group 3 = 
# Group 4 = 
# Group 5 = Oman
# Group 6 = Chert_2
# Group 7 = Igneous
# Group 8 = ESC
# Group 9 = 
# Group 10 = 
# Group 11 = ESC
# Group 12 = 
# Group 13 = 
# Group 14 = 
# Group 15 = 

cmeans_14_raw <- cmeans[cmeans$is_known == "Known",c(13,16)]
cmeans_14_raw <- ftable(cmeans_14_raw[])
cmeans_14_raw <- as.data.frame(cmeans_14_raw)
cmeans_14_raw

   X14      vis                   Freq
1  Group_1  Alibates                1
2  Group_11 Alibates                0
3  Group_12 Alibates                0
4  Group_13 Alibates                0
5  Group_2  Alibates               15
6  Group_3  Alibates                0
7  Group_4  Alibates                0
8  Group_5  Alibates                0
9  Group_6  Alibates                7
10 Group_7  Alibates                0
11 Group_8  Alibates                0
12 Group_1  Edwards Plateau Chert   5
13 Group_11 Edwards Plateau Chert   0
14 Group_12 Edwards Plateau Chert   1
15 Group_13 Edwards Plateau Chert   0
16 Group_2  Edwards Plateau Chert  46
17 Group_3  Edwards Plateau Chert   0
18 Group_4  Edwards Plateau Chert   1
19 Group_5  Edwards Plateau Chert   0
20 Group_6  Edwards Plateau Chert  16
21 Group_7  Edwards Plateau Chert   3
22 Group_8  Edwards Plateau Chert   0
23 Group_1  El Sauz Chert           5
24 Group_11 El Sauz Chert         194
25 Group_12 El Sauz Chert           0
26 Group_13 El Sauz Chert           0
27 Group_2  El Sauz Chert          27
28 Group_3  El Sauz Chert           2
29 Group_4  El Sauz Chert           0
30 Group_5  El Sauz Chert           6
31 Group_6  El Sauz Chert          19
32 Group_7  El Sauz Chert           0
33 Group_8  El Sauz Chert          22
34 Group_1  Knife River Flint       3
35 Group_11 Knife River Flint       0
36 Group_12 Knife River Flint       1
37 Group_13 Knife River Flint       0
38 Group_2  Knife River Flint       5
39 Group_3  Knife River Flint       0
40 Group_4  Knife River Flint       0
41 Group_5  Knife River Flint       0
42 Group_6  Knife River Flint       2
43 Group_7  Knife River Flint       1
44 Group_8  Knife River Flint       0
45 Group_1  Oman Chert              1
46 Group_11 Oman Chert              0
47 Group_12 Oman Chert              0
48 Group_13 Oman Chert              4
49 Group_2  Oman Chert              1
50 Group_3  Oman Chert              0
51 Group_4  Oman Chert              0
52 Group_5  Oman Chert             11
53 Group_6  Oman Chert              4
54 Group_7  Oman Chert              0
55 Group_8  Oman Chert              0

In [183]:
cmeans_14_art <- cmeans[cmeans$is_known != "Known",c(13,16)]
cmeans_14_art <- ftable(cmeans_14_art[])
cmeans_14_art <- as.data.frame(cmeans_14_art)
cmeans_14_art

    X14      vis               Freq
1   Group_1  Agate               1
2   Group_10 Agate               0
3   Group_11 Agate               0
4   Group_12 Agate               0
5   Group_13 Agate               0
6   Group_14 Agate               0
7   Group_2  Agate              45
8   Group_3  Agate               0
9   Group_4  Agate               0
10  Group_5  Agate               0
11  Group_6  Agate               3
12  Group_7  Agate               0
13  Group_8  Agate               1
14  Group_9  Agate               0
15  Group_1  Alibates            0
16  Group_10 Alibates            0
17  Group_11 Alibates            0
18  Group_12 Alibates            0
19  Group_13 Alibates            0
20  Group_14 Alibates            0
21  Group_2  Alibates            3
22  Group_3  Alibates            0
23  Group_4  Alibates            0
24  Group_5  Alibates            0
25  Group_6  Alibates            0
26  Group_7  Alibates            0
27  Group_8  Alibates            0
28  Group_9  Alibates            0
29  Group_1  Black Cherts        1
30  Group_10 Black Cherts        0
31  Group_11 Black Cherts        0
32  Group_12 Black Cherts        2
33  Group_13 Black Cherts        0
34  Group_14 Black Cherts        0
35  Group_2  Black Cherts        6
36  Group_3  Black Cherts        0
37  Group_4  Black Cherts        0
38  Group_5  Black Cherts        3
39  Group_6  Black Cherts        2
40  Group_7  Black Cherts        0
41  Group_8  Black Cherts        0
42  Group_9  Black Cherts        0
43  Group_1  Black Metamorphic  12
44  Group_10 Black Metamorphic   0
45  Group_11 Black Metamorphic   0
46  Group_12 Black Metamorphic   1
47  Group_13 Black Metamorphic   0
48  Group_14 Black Metamorphic   0
49  Group_2  Black Metamorphic  16
50  Group_3  Black Metamorphic   0
51  Group_4  Black Metamorphic   0
52  Group_5  Black Metamorphic  10
53  Group_6  Black Metamorphic   8
54  Group_7  Black Metamorphic   3
55  Group_8  Black Metamorphic   0
56  Group_9  Black Metamorphic   0
57  Group_1  El Sauz Chert       1
58  Group_10 El Sauz Chert       0
59  Group_11 El Sauz Chert      31
60  Group_12 El Sauz Chert       0
61  Group_13 El Sauz Chert       0
62  Group_14 El Sauz Chert       0
63  Group_2  El Sauz Chert       9
64  Group_3  El Sauz Chert       3
65  Group_4  El Sauz Chert       0
66  Group_5  El Sauz Chert       0
67  Group_6  El Sauz Chert       5
68  Group_7  El Sauz Chert       0
69  Group_8  El Sauz Chert       4
70  Group_9  El Sauz Chert       0
71  Group_1  Gravel Cherts      15
72  Group_10 Gravel Cherts       4
73  Group_11 Gravel Cherts       2
74  Group_12 Gravel Cherts       1
75  Group_13 Gravel Cherts       0
76  Group_14 Gravel Cherts       1
77  Group_2  Gravel Cherts     434
78  Group_3  Gravel Cherts       1
79  Group_4  Gravel Cherts       2
80  Group_5  Gravel Cherts       8
81  Group_6  Gravel Cherts      55
82  Group_7  Gravel Cherts       7
83  Group_8  Gravel Cherts       0
84  Group_9  Gravel Cherts       0
85  Group_1  Limestone           5
86  Group_10 Limestone           4
87  Group_11 Limestone           0
88  Group_12 Limestone           0
89  Group_13 Limestone           0
90  Group_14 Limestone           0
91  Group_2  Limestone           3
92  Group_3  Limestone           0
93  Group_4  Limestone           4
94  Group_5  Limestone           1
95  Group_6  Limestone           4
96  Group_7  Limestone           0
97  Group_8  Limestone           0
98  Group_9  Limestone           0
99  Group_1  Silicified Wood    10
100 Group_10 Silicified Wood     1
101 Group_11 Silicified Wood     0
102 Group_12 Silicified Wood     1
103 Group_13 Silicified Wood     1
104 Group_14 Silicified Wood     1
105 Group_2  Silicified Wood     8
106 Group_3  Silicified Wood     0
107 Group_4  Silicified Wood     4
108 Group_5  Silicified Wood     1
109 Group_6  Silicified Wood     3
110 Group_7  Silicified Wood     5
111 Group_8  Silicified Wood     0
112 Group_9  Silicified Wood     0
113 Group_1  Undiff. igneous     5
114 Group_10 Undiff. igneous     2
115 Group_11 Undiff. igneous     1
116 Group_12 Undiff. igneous     4
117 Group_13 Undiff. igneous     0
118 Group_14 Undiff. igneous     1
119 Group_2  Undiff. igneous     3
120 Group_3  Undiff. igneous     0
121 Group_4  Undiff. igneous     3
122 Group_5  Undiff. igneous     0
123 Group_6  Undiff. igneous     4
124 Group_7  Undiff. igneous     6
125 Group_8  Undiff. igneous     0
126 Group_9  Undiff. igneous     2
127 Group_1  Unk                 2
128 Group_10 Unk                 1
129 Group_11 Unk                 1
130 Group_12 Unk                 3
131 Group_13 Unk                 0
132 Group_14 Unk                 0
133 Group_2  Unk                18
134 Group_3  Unk                 1
135 Group_4  Unk                 0
136 Group_5  Unk                 1
137 Group_6  Unk                 3
138 Group_7  Unk                 2
139 Group_8  Unk                 0
140 Group_9  Unk                 0